.page-main {
  padding: 0;
  strong {
    color: #c3512f;
  }
  p {
    font-size: convertPxToRem(14px);
  }
  .section-slider {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .slide {
      min-width: 100%;
      min-height: 100%;
    }
    button {
      border: none;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      background-color: dodgerblue;
      color: white;
      margin: 1rem 0;
      font-size: 1rem;
    }

    .wrapper {
      position: relative;
      width: 100%;
      min-height: convertPxToRem(500px);
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding: 1rem;
      .slider-content {
        .logo-slide,
        .logo-slide-desc,
        .mac,
        .iphone,
        .mac-pro,
        .iphone-hand,
        .slide-content-top,
        .slide-content-bottom,
        .slide-title,
        .slide-desc {
          position: absolute;
          border-width: 0px;
          border-radius: 0px;
          letter-spacing: 0px;
          filter: none;
        }

        .logo-slide {
          top: 30%;
          left: 15%;
          width: 18%;
          height: 18%;
          animation: loop-slide 3s;
          font-size: 13px;
        }
        .logo-slide-desc {
          top: 50%;
          left: 15%;
          width: 18%;
          height: 10%;
          animation: loop-slide 3s;
          font-size: 13px;
        }
        @keyframes loop-slide {
          from {
            transform: translateX(-100rem) rotate(100deg);
          }
          to {
            transform: translateX(0);
          }
        }
        .mac {
          top: 10%;
          right: 20%;
          width: 35%;
          height: 100%;
          animation: loop 3s;
        }
        @keyframes loop {
          from {
            transform: translateX(100rem);
          }
          to {
            transform: translateX(0);
          }
        }
        .iphone {
          top: 50%;
          left: 35%;
          width: 20%;
          height: 50%;
          animation: loop-iphone 2s;
        }
        @keyframes loop-iphone {
          from {
            transform: translateX(-100rem);
          }
          to {
            transform: translateX(0);
          }
        }
        .mac-pro {
          top: 50%;
          right: 8%;
          width: 25%;
          height: 50%;
          animation: loop-mac 2s;
        }
        @keyframes loop-mac {
          from {
            transform: translateY(100rem);
          }
          to {
            transform: translateX(0);
          }
        }
        .iphone-hand {
          bottom: 0;
          left: 5%;
          animation: loop 2s;
        }
        .slide-content-top {
          top: -50%;
          left: -5%;
          width: 30%;
          height: 100%;
        }
        .slide-content-bottom {
          bottom: -50%;
          left: -5%;
          width: 30%;
          height: 100%;
        }
        .slide-title {
          top: 25%;
          left: 55%;
          box-shadow: black 0px 4px 10px -5px;
          text-shadow: none;
          font-weight: normal;
          opacity: 0.65;
          width: 20rem;
          text-align: center;
          padding: 1.5rem 0.5rem;
          font-size: 1.5rem;
          color: rgb(255, 255, 255);
          background: rgb(0, 0, 0);
        }
        .slide-desc {
          top: 39%;
          left: 55%;
          text-shadow: none;
          font-weight: normal;
          opacity: 0.65;
          text-align: center;
          width: 20rem;
          padding: 1rem 0.5rem;
          font-size: 1rem;
          color: rgb(255, 255, 255);
          background: rgb(0, 0, 0);
          border-top: 1px solid #fff;
        }
      }
    }

    input {
      appearance: none;
      z-index: 100;
      margin-right: 1rem;
      width: 1rem;
      height: 1rem;
      background: dodgerblue;
      border-radius: 50%;
      cursor: pointer;
    }

    input:last-of-type {
      margin: 0;
    }

    input:focus {
      outline: none;
    }

    input:checked {
      background: hotpink;
    }

    input + * {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      transform: translateX(100%);
      transition: transform ease-in-out 400ms;
      overflow: hidden;
      background: #ddd;
    }

    section {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    input:checked + * {
      transform: translateX(0);
      z-index: 1;
    }

    input + * + *:not(input[type="radio"]) {
      display: none;
    }

    input:before {
      display: none !important;
      content: "";
      position: absolute;
      top: 50%;
      left: 1rem;
      width: 2rem;
      height: 2rem;
      background: orange;
      border-radius: 50%;
    }

    input:after {
      display: none !important;
      content: "";
      position: absolute;
      top: calc(50% + 1rem);
      left: 2rem;
      width: 0.5rem;
      height: 0.5rem;
      border-bottom: 1px solid #262626;
      border-left: 1px solid #262626;
      transform: translate(-25%, -50%) rotate(45deg);
    }

    input:checked:before,
    input:checked:after {
      display: none;
    }

    input:checked + * + input:before {
      left: calc(100% - 3rem);
    }

    input:checked + * + input:after {
      left: calc(100% - 2rem);
      transform: translate(-75%, -50%) rotate(-135deg);
    }

    input:checked + * + input + * ~ input:before,
    input:checked + * + input + * ~ input:after {
      display: none;
    }

    input:last-of-type:before {
      background: green;
    }
  }
  .content-list {
    display: flex;
    justify-content: space-between;
    padding: convertPxToRem(60px) 0;
    gap: convertPxToRem(100px);
    .list-item {
      width: calc(100% / 3);
      line-height: convertPxToRem(30px);
      .item-title {
        letter-spacing: convertPxToRem(0.8px);
        color: #222222;
        font-size: convertPxToRem(16px);
        font-weight: 600;
        letter-spacing: 0.1rem;
        line-height: convertPxToRem(18px);
        margin: 0 0 convertPxToRem(16px);
        text-transform: uppercase;
      }
      .item-desc {
        font-size: convertPxToRem(16px);
        color: #666666;
        line-height: convertPxToRem(20px);
        margin: convertPxToRem(12px) 0 0;
      }
    }
  }
  .section-showcasing {
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    min-width: 100%;
    font-weight: 600;
    padding: convertPxToRem(50px) 0 convertPxToRem(100px) 0;
    .showcasing-title {
      line-height: convertPxToRem(100px);
      color: #444444;
      font-size: convertPxToRem(30px);
      letter-spacing: 0.1rem;
    }
    .showcasing-desc {
      margin: 0 auto;
      color: #888888;
      padding-bottom: convertPxToRem(100px);
    }
    .showcasing-card-list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: convertPxToRem(1px);
      .card-item {
        border: 1px solid #e1e1e1;
        .item-desc {
          text-align: justify;
          font-size: convertPxToRem(15px);
          padding: convertPxToRem(15px);
        }
      }
    }
    .view-more {
      line-height: convertPxToRem(100px);
    }
  }
  .section-feature {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0 0 convertPxToRem(8px) 0;
    padding: convertPxToRem(100px) 0;
    .container {
      gap: convertPxToRem(60px);
      justify-content: space-between;
    }
    .feature-img {
      width: 50%;
      border: convertPxToRem(2px) solid #e1e1e1;
      padding: convertPxToRem(6px);
      height: 100%;
      img {
        min-width: 100%;
      }
      .img-list {
        display: flex;
        gap: convertPxToRem(5px);
        .img-item {
          width: calc(100% / 7);
          border: convertPxToRem(2px) solid #e1e1e1;
          img {
            max-width: 100%;
            padding: convertPxToRem(6px);
            cursor: pointer;
          }
        }
      }
    }
    .feature-content {
      width: 50%;
      .feature-content-title {
        margin: 0 0 convertPxToRem(30px) 0;
        letter-spacing: convertPxToRem(1px);
        color: #222222;
        font-size: convertPxToRem(30px);
      }
      .feature-content-desc,
      .feature-item {
        line-height: convertPxToRem(30px);
        padding-bottom: convertPxToRem(10px);
        color: #666666;
      }
      .feature-list {
        padding-left: convertPxToRem(30px);
        .feature-item {
          list-style: outside;
        }
      }
      .btn-learn-more {
        margin: 30px 0 0 30px;
      }
    }
  }
  .section-about {
    padding: convertPxToRem(100px) 0;
    background-color: #fafafa;
    .container {
      justify-content: space-between;
      // align-items: center;
      li {
        font-size: convertPxToRem(16px);
      }
    }
    .about-left {
      min-width: 45%;
      text-align: right;
      .about-title {
        font-size: convertPxToRem(30px);
      }
      .about-left-list {
        li {
          line-height: convertPxToRem(25px);
          &:first-child {
            padding-bottom: convertPxToRem(20px);
          }
        }
      }
    }

    .about-right {
      .about-item {
        padding-bottom: convertPxToRem(50px);
        line-height: convertPxToRem(40px);
        display: inline-block;
        .about-content {
          display: table;
        }
        .item-title {
          font-size: convertPxToRem(20px);
        }
        .icon-item {
          margin: 0 convertPxToRem(40px);
          background-color: #d0d0d0;
          height: convertPxToRem(65px);
          width: convertPxToRem(65px);
          line-height: convertPxToRem(65px);
          font-size: convertPxToRem(30px);
          text-align: center;
          border-radius: convertPxToRem(500px);
          float: left;
          z-index: 5;
          color: #fff;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            width: 1px;
            min-height: 100%;
            border-right-width: 1px;
            border-right-style: dashed;
            color: #c4c4c4;
          }
        }
        .d-none-affter {
          &::after {
            display: none;
          }
        }
      }
    }
  }
  .section-mobile {
    margin: convertPxToRem(5px) 0;
    padding: convertPxToRem(50px) 0;
    .container {
      gap: convertPxToRem(50px);
    }
    hr {
      width: 15rem;
      text-align: justify;
      margin: 2rem 0;
    }
    img {
      min-width: 45%;
    }
    .mobile-content {
      .mobile-title {
        letter-spacing: convertPxToRem(0.5px);
        font-size: convertPxToRem(30px);
      }
      .mobile-desc {
        line-height: convertPxToRem(30px);
        p {
          &:first-child {
            padding-bottom: convertPxToRem(15px);
          }
        }
      }
    }
  }
  .section-about-us {
    text-align: center;
    background-color: #fafafa;
    padding: convertPxToRem(50px) 0;
    hr {
      width: convertPxToRem(300px);
      text-align: center;
      margin: 2rem auto;
      position: relative;
      background-color: #fcfcfc;
    }
    .about-us-title {
      line-height: convertPxToRem(50px);
      letter-spacing: convertPxToRem(0.5px);
      font-size: convertPxToRem(30px);
    }
    .about-us-content {
      padding-top: 1rem;
      flex-wrap: wrap;
      justify-content: center;
      text-align: justify;
      gap: convertPxToRem(50px);
      .about-us-item {
        display: flex;
        width: calc(100% / 2 - 5rem);
        gap: 1rem;
        line-height: convertPxToRem(30px);
        img {
          width: convertPxToRem(100px);
          height: convertPxToRem(100px);
          border-radius: 50%;
        }
        .item-desc {
          line-height: convertPxToRem(20px);
        }
      }
    }
  }
  .section-contact-us {
    text-align: center;
    padding: convertPxToRem(50px) 0;
    background-repeat: no-repeat;
    background-image: url(https://kriesi.at/themes/enfold/wp-content/uploads/sites/37/2013/04/room.jpg);
    background-attachment: scroll;
    background-position: top center;
    background-size: cover;
    line-height: convertPxToRem(50px);
    .contact-us-title,
    .contact-us-title-desc {
      color: #fff;
    }
    .contact-us-title {
      letter-spacing: convertPxToRem(5px);
      font-size: convertPxToRem(30px);
    }
    .contact-us-title-desc {
      padding-bottom: convertPxToRem(80px);
    }
    .contact-us-content {
      justify-content: center;
      gap: 10%;
      .contact-us-box {
        background-color: #fff;
        padding: convertPxToRem(20px);
        border-radius: convertPxToRem(8px);
        position: relative;
        width: 100%;
        .icon-contact-us {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #c3512f;
          height: convertPxToRem(65px);
          width: convertPxToRem(65px);
          line-height: convertPxToRem(65px);
          font-size: convertPxToRem(30px);
          text-align: center;
          border-radius: convertPxToRem(500px);
          z-index: 5;
          color: #fff;
        }
      }
    }
  }
  .section-brand {
    .brand-list {
      justify-content: center;
      align-items: center;
      .brand-item {
        max-width: calc(100% / 5);
      }
    }
  }
}
@include respond-below(large) {
  .container {
    padding-left: convertPxToRem(50px);
    padding-right: convertPxToRem(50px);
  }
  .page-main .content-list {
    gap: convertPxToRem(30px);
  }
  .page-header {
    .menu-list {
      width: 100%;
    }
  }
  .feature-list {
    .list-item {
      padding: 0;
    }
  }
  .page-footer {
    .container {
      flex-wrap: wrap;
      justify-content: unset;
    }
    .footer-left,
    .footer-middle-one,
    .footer-middle-two,
    .footer-right {
      min-width: 100%;
    }
  }
  .page-main .section-slider .wrapper .slider-content {
    .mac {
      top: 20%;
      right: 20%;
      width: 40%;
      height: 70%;
    }
    .mac-pro {
      top: 50%;
      right: 10%;
      width: 25%;
      height: 30%;
    }
    .iphone {
      top: 50%;
      left: 30%;
      width: 20%;
      height: 30%;
    }
    .logo-slide {
      top: 20%;
      width: 30%;
      left: 3%;
      z-index: 2;
    }
    .logo-slide-desc {
      top: 45%;
      left: 3%;
      width: 30%;
      z-index: 2;
    }
  }
}
@include respond-below(wide) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .page-header {
    .menu-list {
      display: none;
    }
  }
  .page-main {
    .section-showcasing .showcasing-title {
      line-height: 2.25rem;
      font-size: 1.3rem;
    }
    .section-about .about-right .about-item {
      padding-bottom: 0.3rem;
    }
    .section-slider .wrapper .slider-content {
      .logo-slide {
        top: 20%;
        width: 30%;
        left: 5%;
        z-index: 2;
      }
      .logo-slide-desc {
        top: 45%;
        left: 5%;
        width: 30%;
        z-index: 2;
      }
    }
    .section-contact-us .contact-us-content {
      flex-wrap: wrap;
      .contact-us-box {
        margin: 2rem 0;
      }
    }
  }
  @include respond-below(medium) {
    .page-main .content-list {
      flex-direction: column;
      .list-item {
        min-width: 100%;
      }
    }
    .showcasing-card-list {
      flex-wrap: wrap;
    }
    .section-feature {
      .container {
        flex-wrap: wrap;
        .feature-img {
          width: 100%;
          img {
            width: 100%;
          }
        }
        .feature-content {
          width: 100%;
        }
      }
    }
    .section-about {
      .container {
        flex-wrap: wrap;
      }
    }
    .section-mobile {
      .container {
        flex-wrap: wrap;
      }
    }
    .page-main {
      .section-about-us .about-us-content .about-us-item {
        width: 100%;
        margin: 20px;
      }
      .section-contact-us {
        .contact-us-title-desc {
          padding-bottom: 2rem;
        }
        .contact-us-content .contact-us-box {
          margin: 2rem 0;
        }
      }
      .contact-us-content {
        flex-wrap: wrap;
      }
      .section-about .about-right .about-item {
        padding-bottom: 1rem;
      }
      .section-slider .wrapper .slider-content {
        .logo-slide {
          top: 20%;
          width: 30%;
          left: 5%;
          z-index: 2;
        }
        .logo-slide-desc {
          top: 45%;
          left: 5%;
          width: 30%;
          z-index: 2;
        }
      }
      .section-brand {
        .brand-list {
          flex-wrap: wrap;
          .brand-item {
            &:first-child {
              min-width: 100%;
            }
            min-width: 50%;
          }
        }
      }
    }
  }
  @include respond-below(small) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .page-main {
      .section-showcasing .showcasing-title {
        line-height: 2.25rem;
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
      }
      .content-list .list-item .item-title {
        font-size: 1rem;
      }
      .section-about .about-right .about-item {
        padding: 0;
      }
      .section-feature .feature-content .feature-content-title {
        font-size: 1.5rem;
      }
      .section-slider .wrapper .slider-content {
        .logo-slide {
          top: 20%;
          width: 80%;
          left: 10%;
          z-index: 2;
        }
        .logo-slide-desc {
          top: 45%;
          left: 10%;
          width: 80%;
          z-index: 2;
        }
        .mac {
          top: 20%;
          right: 0;
          width: 100%;
          height: 80%;
        }
        .iphone {
          top: 60%;
          left: 0;
          width: 50%;
          height: 30%;
        }
        .mac-pro {
          top: 60%;
          right: 0;
          width: 50%;
          height: 30%;
        }
        .iphone-hand {
          left: 0;
        }
      }
      .section-about-us .about-us-content .about-us-item {
        width: 100%;
        margin: 0;
        flex-wrap: wrap;
        img {
          width: 10rem;
          height: 10rem;
        }
      }
      .section-brand {
        .brand-list {
          flex-wrap: wrap;
          .brand-item {
            min-width: 100%;
          }
        }
      }
    }
    .about-us-title {
      font-size: 1.3rem;
    }
    .mac,
    .iphone,
    .mac-pro {
      opacity: 0.5;
    }
  }
}
