.page-main {
  padding: 0;
  .section-slider {
    .slide {
      min-width: 100%;
      min-height: 100%;
    }
    button {
      border: none;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      background-color: dodgerblue;
      color: white;
      margin: 1rem 0;
      font-size: 1rem;
    }
    .wrapper {
      position: relative;
      width: 100%;
      min-height: convertPxToRem(470px);
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding: 1rem;
      .slider-content {
        .logo-slide,
        .logo-slide-desc,
        .mac,
        .iphone,
        .mac-pro,
        .iphone-hand,
        .slide-content-top,
        .slide-content-bottom,
        .slide-title,
        .slide-desc {
          position: absolute;
          border-width: 0px;
          border-radius: 0px;
          letter-spacing: 0px;
          filter: none;
        }
        .logo-slide {
          top: 25%;
          left: 8%;
          width: 22%;
          height: 20%;
          animation: loop-slide 3s;
          font-size: 13px;
        }
        .logo-slide-desc {
          top: 50%;
          left: 8%;
          width: 22%;
          height: 10%;
          animation: loop-slide 3s;
          font-size: 13px;
        }
        .mac {
          top: 10%;
          right: 18%;
          width: 38%;
          height: 100%;
          animation: loop 3s;
        }
        .iphone {
          top: 50%;
          left: 30%;
          width: 22%;
          height: 50%;
          animation: loop-iphone 2s;
        }
        .mac-pro {
          top: 50%;
          right: 8%;
          width: 28%;
          height: 50%;
          animation: loop-mac 2s;
        }
        .iphone-hand {
          bottom: -15%;
          left: 0;
          animation: loop 2s;
        }
        .slide-content-top {
          top: -50%;
          left: -5%;
          width: 30%;
          height: 100%;
        }
        .slide-content-bottom {
          bottom: -50%;
          left: -5%;
          width: 30%;
          height: 100%;
        }
        .slide-title {
          top: 25%;
          right: 25%;
          text-shadow: none;
          font-weight: normal;
          opacity: 0.65;
          width: 25%;
          text-align: center;
          padding: 1.5rem 0.5rem;
          font-size: 1.5rem;
          color: rgb(255, 255, 255);
          background: rgb(0, 0, 0);
        }
        .slide-desc {
          top: 40%;
          right: 25%;
          text-shadow: none;
          font-weight: normal;
          opacity: 0.65;
          text-align: center;
          width: 25%;
          padding: 1rem 0.5rem;
          font-size: 1rem;
          color: rgb(255, 255, 255);
          background: rgb(0, 0, 0);
          border-top: 1px solid #fff;
        }
      }
    }
    input {
      appearance: none;
      z-index: 100;
      margin-right: 1rem;
      width: 1rem;
      height: 1rem;
      background: dodgerblue;
      border-radius: 50%;
      cursor: pointer;
    }
    input:last-of-type {
      margin: 0;
    }
    input:focus {
      outline: none;
    }
    input:checked {
      background: hotpink;
    }
    input + * {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      transform: translateX(100%);
      transition: transform ease-in-out 400ms;
      overflow: hidden;
      background: #ddd;
    }
    input:checked + * {
      transform: translateX(0);
      z-index: 1;
    }
    input + * + *:not(input[type="radio"]) {
      display: none;
    }
    input:before {
      display: none !important;
      content: "";
      position: absolute;
      top: 50%;
      left: 1rem;
      width: 2rem;
      height: 2rem;
      background: orange;
      border-radius: 50%;
    }
    input:after {
      display: none !important;
      content: "";
      position: absolute;
      top: calc(50% + 1rem);
      left: 2rem;
      width: 0.5rem;
      height: 0.5rem;
      border-bottom: 1px solid #262626;
      border-left: 1px solid #262626;
      transform: translate(-25%, -50%) rotate(45deg);
    }
    input:checked:before,
    input:checked:after {
      display: none;
    }
    input:checked + * + input:before {
      left: calc(100% - 3rem);
    }
    input:checked + * + input:after {
      left: calc(100% - 2rem);
      transform: translate(-75%, -50%) rotate(-135deg);
    }
    input:checked + * + input + * ~ input:before,
    input:checked + * + input + * ~ input:after {
      display: none;
    }
    input:last-of-type:before {
      background: green;
    }
  }
  .slider-content-list {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    .container {
      gap: convertPxToRem(50px);
      padding: 50px;
    }
    .list-item {
      width: calc(100% / 3);
      margin: convertPxToRem(10px) 0px 0px;
      .item-title {
        letter-spacing: convertPxToRem(0.8px);
        color: #222222;
        font-size: convertPxToRem(16.25px);
        font-weight: 600;
        letter-spacing: 1px;
        line-height: convertPxToRem(18px);
        margin: 0 0 convertPxToRem(15px);
        text-transform: uppercase;
        padding: 2px 0px 0px;
      }
      .item-desc {
        line-height: convertPxToRem(21.5px);
      }
    }
  }
  .section-showcasing {
    background-color: #fafafa;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    text-align: center;
    min-width: 100%;
    font-weight: 600;
    span {
      position: relative;
      hr {
        width: 40%;
        text-align: center;
        margin: 2.5rem auto;
        background-color: #fcfcfc;
      }
      .hr-style {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fcfcfc;
        transform: translate(-50%, -50%);
        width: 9px;
        height: 9px;
        border: 2px solid #e1e1e1;
        border-radius: 50%;
      }
    }
    .showcasing-title {
      color: #444444;
      font-size: convertPxToRem(28px);
      letter-spacing: 1px;
      font-weight: 600;
      line-height: convertPxToRem(30.8px);
    }
    .showcasing-desc {
      margin: 0 auto;
      color: #888888;
      line-height: convertPxToRem(21.45px);
      margin: convertPxToRem(11.5px) 0;
    }
    .showcasing-card-list {
      padding-top: convertPxToRem(70px);
      .card-item {
        border: 1px solid #e1e1e1;
        .item-desc {
          text-align: justify;
          font-size: convertPxToRem(13px);
          padding: convertPxToRem(18px);
          color: #666666;
        }
      }
    }
  }
  .section-feature {
    .container {
      justify-content: space-between;
    }
    .feature-img {
      width: calc(100% / 2);
      border: convertPxToRem(2px) solid #e1e1e1;
      height: 100%;
      img {
        min-width: 100%;
        padding: 7px;
      }
      .img-list {
        .img-item {
          width: calc(100% / 7);
          img {
            width: 100%;
            height: 100%;
            padding: 7px;
            aspect-ratio: auto 80 / 80;
            cursor: pointer;
          }
          text-align: center;
          border-top: convertPxToRem(1px) solid #e1e1e1;
          border-right: convertPxToRem(1px) solid #e1e1e1;
          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-right: none;
          }
        }
      }
    }
    .feature-content {
      width: calc(100% / 2);
      margin-left: 62px;
      .feature-content-title {
        margin: 0px 0px 10px;
        letter-spacing: convertPxToRem(1px);
        color: #222222;
        font-size: convertPxToRem(28px);
        line-height: convertPxToRem(30.8px);
      }
      .feature-content-desc,
      .feature-item {
        line-height: convertPxToRem(21.45px);
        margin: 11.05px 0px;
        color: #666666;
        font-size: 13px;
        &:last-child {
          padding: 0;
        }
      }
      .feature-list {
        padding-left: convertPxToRem(15px);
        font-size: 13px;
        .feature-item {
          list-style: outside;
          padding: 3px 0px;
        }
      }
      hr {
        margin: convertPxToRem(45px) 0;
        width: 35%;
      }
    }
  }
  .section-about {
    background-color: #fdfdfd;
    .container {
      justify-content: space-between;
      li {
        font-size: convertPxToRem(16px);
      }
    }
    .about-left {
      min-width: 45%;
      text-align: right;
      position: relative;
      p {
        color: #888888;
      }
      span {
        position: relative;
        hr {
          width: 40%;
          position: relative;
          background-color: #fcfcfc;
          left: 30%;
        }
        .hr-style {
          position: absolute;
          top: 0;
          left: 0;
          background-color: #fcfcfc;
          transform: translate(-50%, -50%);
          width: 9px;
          height: 9px;
          border: 2px solid #e1e1e1;
          border-radius: 50%;
        }
      }
      .btn-checkout {
        margin-bottom: 2rem;
      }
      .about-title {
        font-size: convertPxToRem(28px);
      }
      .about-left-list {
        li {
          p {
            line-height: convertPxToRem(28px);
          }
          &:first-child {
            padding-bottom: convertPxToRem(20px);
          }
        }
      }
    }

    .about-right {
      height: 100%;
      .about-item {
        padding-bottom: convertPxToRem(55px);
        line-height: convertPxToRem(50px);
        &:last-child {
          padding: 0;
        }
        .about-content {
          display: table;
        }
        .item-title {
          font-size: convertPxToRem(18px);
          color: #444444;
        }
        .item-desc {
          color: #a0a0a0;
        }
        .icon-item {
          margin: 0 convertPxToRem(40px);
          background-color: #d0d0d0;
          height: convertPxToRem(75px);
          width: convertPxToRem(75px);
          line-height: convertPxToRem(65px);
          font-size: convertPxToRem(28px);
          text-align: center;
          border-radius: convertPxToRem(500px);
          float: left;
          z-index: 5;
          color: #fff;
          position: relative;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            width: 1px;
            min-height: 100px;
            border-right-width: 1px;
            border-right-style: dashed;
            color: #c4c4c4;
          }
        }
        .d-none-affter {
          &::after {
            display: none;
          }
        }
      }
    }
  }
  .section-mobile {
    .container {
      gap: convertPxToRem(50px);
    }
    span {
      position: relative;
      hr {
        width: 35%;
        text-align: justify;
        margin: 2rem 0;
        background-color: #fcfcfc;
      }
      .hr-style {
        position: absolute;
        top: 2rem;
        left: 0;
        background-color: #fcfcfc;
        transform: translate(-50%, -50%);
        width: 9px;
        height: 9px;
        border: 2px solid #e1e1e1;
        border-radius: 50%;
      }
    }
    img {
      min-width: 45%;
      animation: loop-iphone 3s;
    }
    .mobile-content {
      .mobile-title {
        letter-spacing: convertPxToRem(0.5px);
        font-size: convertPxToRem(28px);
      }
      .mobile-desc {
        line-height: convertPxToRem(30px);
        p {
          &:first-child {
            padding-bottom: convertPxToRem(10px);
          }
        }
      }
      .btn-mobile {
        width: 12rem;
        margin: 0;
      }
    }
  }
  .section-about-us {
    text-align: center;
    background-color: #fdfdfd;
    p {
      color: #888888;
    }
    .about-us-title {
      line-height: convertPxToRem(50px);
      letter-spacing: convertPxToRem(0.5px);
      font-size: convertPxToRem(28px);
    }
    .about-us-content {
      text-align: left;
      .about-us-item {
        display: flex;
        width: calc(100% / 2 - 0.23rem);
        line-height: convertPxToRem(30px);
        img {
          float: left;
          margin: 0 20px 0 0;
          width: 80px;
          height: 80px;
          border-radius: 100px;
          aspect-ratio: auto 180 / 180;
        }
        .item-desc {
          line-height: convertPxToRem(20px);
          text-align: left;
        }
        .item-name {
          padding-top: 1rem;
          color: #444444;
        }
        .item-position {
          color: #a0a0a0;
          padding-bottom: 2rem;
        }
      }
    }
  }
  .section-contact-us {
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(https://kriesi.at/themes/enfold/wp-content/uploads/sites/37/2013/04/room.jpg);
    background-attachment: scroll;
    background-position: top center;
    background-size: cover;
    line-height: convertPxToRem(50px);
    hr {
      width: 30%;
    }
    .contact-us-title,
    .contact-us-title-desc {
      color: #fff;
    }
    .contact-us-title {
      letter-spacing: convertPxToRem(1px);
      font-size: convertPxToRem(28px);
    }
    .contact-us-title-desc {
      padding-bottom: convertPxToRem(80px);
    }
    .contact-us-content {
      .contact-us-box {
        background-color: #fff;
        padding: convertPxToRem(10px);
        border-radius: convertPxToRem(5px);
        position: relative;
        min-width: 25%;
        margin-left: 4rem;
        &:first-child {
          margin-left: 0;
        }
        .contact-us-box-title {
          padding: 1rem 0 0 0;
          font-size: convertPxToRem(16px);
          font-weight: 900;
          letter-spacing: convertPxToRem(1px);
          color: #222222;
        }
        .contact-us-box-desc {
          letter-spacing: convertPxToRem(1px);
          text-align: center;
        }
        .icon-contact-us {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #c3512f;
          height: convertPxToRem(65px);
          width: convertPxToRem(65px);
          line-height: convertPxToRem(65px);
          font-size: convertPxToRem(28px);
          text-align: center;
          border-radius: convertPxToRem(500px);
          z-index: 5;
          color: #fff;
        }
      }
    }
  }
  .section-brand {
    .container {
      padding: 0;
    }
    .brand-list {
      justify-content: center;
      align-items: center;
      .brand-item {
        max-width: 18%;
      }
    }
  }
}
@include respond-below(large) {
  h2 {
    line-height: 1.1em !important;
  }
  .btn-primary {
    padding: 11px 20px 11px;
  }
  .page-main {
    .container {
      padding: convertPxToRem(70px) 2rem;
    }
    .slider-content-list {
      .container {
        gap: convertPxToRem(20px);
        padding: convertPxToRem(50px) 2rem;
      }
    }
    .section-slider .wrapper .slider-content {
      .mac {
        top: 20%;
        right: 20%;
        width: 40%;
        height: 70%;
      }
      .mac-pro {
        top: 50%;
        right: 10%;
        width: 25%;
        height: 30%;
      }
      .iphone {
        top: 50%;
        left: 30%;
        width: 20%;
        height: 30%;
      }
      .logo-slide {
        top: 20%;
        width: 30%;
        left: 3%;
        z-index: 2;
      }
      .logo-slide-desc {
        top: 45%;
        left: 3%;
        width: 30%;
        z-index: 2;
      }
    }
  }
  .page-header {
    .container {
      .menu-list {
        width: 100%;
        font-size: 0;
      }
    }
  }
  .feature-list {
    .list-item {
      padding: 0;
    }
  }
  .page-footer {
    .container {
      flex-wrap: wrap;
      justify-content: unset;
      gap: 0;
    }
    .footer-left,
    .footer-middle-one,
    .footer-middle-two,
    .footer-right {
      min-width: 100%;
      padding: 0;
    }
    .container {
      padding: 0 1rem;
    }
  }
}
@include respond-below(wide) {
  .page-header {
    .menu-list {
      display: none;
    }
  }
  .page-main {
    .section-showcasing {
      .showcasing-title {
        line-height: 2.25rem;
        font-size: 1.3rem;
      }
      .showcasing-card-list .card-item .item-desc {
        padding: 0.8rem;
      }
    }
    .section-about {
      .about-right .about-item {
        padding-bottom: 0.3rem;
      }
    }
    .section-about-us {
      .about-us-content {
        flex-direction: column;
        .about-us-item {
          width: 100% !important;
        }
      }
    }
    .section-slider .wrapper .slider-content {
      .logo-slide {
        top: 20%;
        width: 30%;
        left: 5%;
        z-index: 2;
      }
      .logo-slide-desc {
        top: 45%;
        left: 5%;
        width: 30%;
        z-index: 2;
      }
    }
    .section-contact-us .contact-us-content {
      flex-wrap: wrap;
      .contact-us-box {
        margin: 2rem 0;
        width: 100%;
      }
    }
    .section-slider .wrapper {
      min-height: 308px;
      .slider-content {
        .logo-slide {
          top: 20%;
          width: 30%;
          left: 8%;
          z-index: 2;
        }
        .logo-slide-desc {
          top: 45%;
          left: 8%;
          width: 30%;
          z-index: 2;
        }
        .mac {
          top: 20%;
          right: 8%;
          width: 35%;
          height: 70%;
        }
        .iphone {
          top: 60%;
          left: 55%;
          width: 15%;
          height: 35%;
        }
        .mac-pro {
          top: 60%;
          right: 0;
          width: 25%;
          height: 30%;
        }
        .iphone-hand {
          left: -20%;
        }
        .slide-title {
          width: 40%;
          left: 50%;
          padding: 0.5rem 0rem;
          font-size: 0.5rem;
        }
        .slide-desc {
          top: 32%;
          width: 40%;
          left: 50%;
        }
      }
    }
  }
}
@include respond-below(medium) {
  .page-main {
    .slider-content-list {
      .container {
        flex-direction: column;
      }
      .list-item {
        min-width: 100%;
      }
    }
    .showcasing-card-list {
      flex-wrap: wrap;
    }
    .section-feature {
      .container {
        flex-wrap: wrap;
        .feature-img {
          width: 100%;
          img {
            width: 100%;
          }
        }
        .feature-content {
          width: 100%;
        }
      }
    }
    .section-about {
      .container {
        flex-wrap: wrap;
      }
    }
    .section-mobile {
      .container {
        flex-wrap: wrap;
      }
    }
    .section-about-us .about-us-content .about-us-item {
      width: 100%;
      margin: 20px;
    }
    .section-feature .feature-content {
      padding-top: 2rem;
      margin-left: 0;
    }
    .section-about-us .about-us-content {
      padding: 0;
      gap: 1rem;
      .about-us-item {
        margin: 0;
        .item-desc {
          p {
            letter-spacing: 0.5px;
          }
        }
      }
    }
    .section-contact-us {
      .contact-us-title-desc {
        padding-bottom: 2rem;
      }
      .contact-us-content {
        .contact-us-box {
          margin: 2rem 0;
          width: 100%;
        }
      }
    }
    .section-about .about-right .about-item {
      padding-bottom: 2rem;
    }
    .section-brand {
      .brand-list {
        flex-wrap: wrap;
        .brand-item {
          &:first-child {
            min-width: 100%;
          }
          min-width: 50%;
        }
      }
    }
    .section-slider .wrapper .slider-content {
      .iphone {
        top: 50%;
        left: 45%;
        width: 20%;
        height: 35%;
      }
    }
  }
}
@include respond-below(small) {
  .page-main {
    .section-showcasing {
      .showcasing-title {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
      }
      .showcasing-card-list .card-item .item-desc {
        padding: 0.8rem;
        letter-spacing: 0;
      }
    }
    .slider-content-list {
      padding: 0;
      .container {
        gap: 1rem;
      }
      .list-item .item-title {
        font-size: 1rem;
      }
    }
    .section-feature .feature-content {
      margin-left: 0;
      .feature-content-title {
        font-size: 1.75rem;
        padding-top: 2rem;
      }
    }
    .section-contact-us .contact-us-content {
      flex-wrap: wrap;
      .contact-us-box {
        margin: 2rem 0;
      }
    }
    .section-slider {
      input {
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 0.5rem;
      }
      .wrapper {
        min-height: 156px;
        .slider-content {
          .logo-slide {
            top: 20%;
            width: 30%;
            left: 8%;
            z-index: 2;
          }
          .logo-slide-desc {
            top: 45%;
            left: 8%;
            width: 30%;
            z-index: 2;
          }
          .mac {
            top: 20%;
            right: 8%;
            width: 40%;
            height: 80%;
          }
          .iphone {
            top: 60%;
            left: 42%;
            width: 22%;
            height: 35%;
          }
          .mac-pro {
            top: 62%;
            right: 0;
            width: 25%;
            height: 30%;
          }
          .iphone-hand {
            left: -20%;
          }
          .slide-title {
            width: 40%;
            left: 50%;
            padding: 0.5rem 0rem;
            font-size: 0.5rem;
          }
          .slide-desc {
            width: 40%;
            left: 50%;
          }
        }
      }
    }
    .section-about-us .about-us-content {
      padding: 0;
      gap: 1rem;
      .about-us-item {
        width: 100%;
        margin: 0;
        flex-wrap: wrap;
        .item-desc {
          p {
            letter-spacing: 0.5px;
          }
        }
        img {
          width: convertPxToRem(120px);
          height: convertPxToRem(120px);
        }
      }
    }
    .section-about .about-right .about-item {
      line-height: 2.5rem;
      padding: 0;
      margin: 0;
      .icon-item {
        margin: 0 0.7rem;
        background-color: #d0d0d0;
        height: 3rem;
        width: 3rem;
        font-size: 1rem;
        &::after {
          min-height: 105px;
        }
      }
      .item-title {
        font-size: 0.8rem;
      }
    }
    .section-brand {
      .brand-list {
        flex-wrap: wrap;
        .brand-item {
          min-width: 100%;
        }
      }
    }
  }
  .about-us-title {
    font-size: 1.3rem;
  }
}
