.page-main {
  padding: 0;
  .section-slider {
    .slide {
      min-width: 100%;
      min-height: 100%;
    }
    button {
      border: none;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      background-color: dodgerblue;
      color: white;
      margin: 1rem 0;
      font-size: 1rem;
    }
    .wrapper {
      position: relative;
      width: 100%;
      min-height: convertPxToRem(470px);
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding: 1rem;
      .logo-slide,
      .logo-slide-desc,
      .mac,
      .iphone,
      .mac-pro,
      .iphone-hand,
      .slide-content-top,
      .slide-content-bottom,
      .slide-title,
      .slide-desc {
        position: absolute;
        border-width: 0px;
        border-radius: 0px;
        letter-spacing: 0px;
        filter: none;
      }
      .logo-slide {
        top: 30%;
        left: 14%;
        width: 21%;
        height: 18%;
        animation: loop-slide 3s;
        font-size: 13px;
      }
      .logo-slide-desc {
        top: 50%;
        left: 14%;
        width: 21%;
        height: 8%;
        animation: loop-slide 3s;
        font-size: 13px;
      }
      .mac {
        top: 15%;
        right: 30%;
        width: 30%;
        height: 90%;
        animation: loop 3s;
      }
      .iphone {
        top: 50%;
        left: 30%;
        width: 20%;
        height: 50%;
        animation: loop-iphone 2s;
      }
      .mac-pro {
        top: 40%;
        right: 15%;
        width: 30%;
        height: 59%;
        animation: loop-mac 2s;
      }
      .iphone-hand {
        bottom: -15%;
        left: 0;
        animation: loop 2s;
      }
      .slide-content-top {
        top: -50%;
        left: -5%;
        width: 30%;
        height: 100%;
      }
      .slide-content-bottom {
        bottom: -50%;
        left: -5%;
        width: 30%;
        height: 100%;
      }
      .slide-title {
        top: 25%;
        right: 25%;
        text-shadow: none;
        font-weight: normal;
        opacity: 0.65;
        width: 25%;
        text-align: center;
        padding: 1.5rem 0.5rem;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
        background: rgb(0, 0, 0);
      }
      .slide-desc {
        top: 40%;
        right: 25%;
        text-shadow: none;
        font-weight: normal;
        opacity: 0.65;
        text-align: center;
        width: 25%;
        padding: 1rem 0.5rem;
        font-size: 1rem;
        color: rgb(255, 255, 255);
        background: rgb(0, 0, 0);
        border-top: 1px solid #fff;
      }
    }
    input {
      appearance: none;
      z-index: 100;
      margin-right: 1rem;
      width: 1rem;
      height: 1rem;
      background: dodgerblue;
      border-radius: 50%;
      cursor: pointer;
    }
    input:last-of-type {
      margin: 0;
    }
    input:focus {
      outline: none;
    }
    input:checked {
      background: hotpink;
    }
    input + * {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      transform: translateX(100%);
      transition: transform ease-in-out 400ms;
      overflow: hidden;
      background: #ddd;
    }
    input:checked + * {
      transform: translateX(0);
      z-index: 1;
    }
    input + * + *:not(input[type="radio"]) {
      display: none;
    }
    input:before {
      display: none !important;
      content: "";
      position: absolute;
      top: 50%;
      left: 1rem;
      width: 2rem;
      height: 2rem;
      background: orange;
      border-radius: 50%;
    }
    input:after {
      display: none !important;
      content: "";
      position: absolute;
      top: calc(50% + 1rem);
      left: 2rem;
      width: 0.5rem;
      height: 0.5rem;
      border-bottom: 1px solid #262626;
      border-left: 1px solid #262626;
      transform: translate(-25%, -50%) rotate(45deg);
    }
    input:checked:before,
    input:checked:after {
      display: none;
    }
    input:checked + * + input:before {
      left: calc(100% - 3rem);
    }
    input:checked + * + input:after {
      left: calc(100% - 2rem);
      transform: translate(-75%, -50%) rotate(-135deg);
    }
    input:checked + * + input + * ~ input:before,
    input:checked + * + input + * ~ input:after {
      display: none;
    }
    input:last-of-type:before {
      background: green;
    }
  }
  .slider-content-list {
    gap: 2rem;
    padding: 50px;
    .list-item {
      width: 312px;
      text-align: left;
      .item-title {
        border: medium none;
        margin: 0 0 15px 0;
        letter-spacing: 1px;
        text-transform: uppercase;
        clear: none;
        display: flex;
        align-items: center;
        font-size: 16px;
        color: map-get($colors, txt-black-title);
        i {
          font-size: 21px;
          width: 25px;
          height: 25px;
          line-height: 25px;
        }
        .fa-clock-o {
          font-weight: 100;
        }
      }
      .item-desc {
        line-height: convertPxToRem(21px);
        font-size: 13px;
        padding: 0;
        letter-spacing: 0.5px;
      }
    }
  }
  .section-showcasing {
    background-color: #fafafa;
    text-align: center;
    min-width: 100%;
    .hr {
      .hr-style {
        left: 50%;
      }
    }
    .showcasing-title {
      color: #444444;
      font-size: convertPxToRem(28px);
      letter-spacing: 1px;
      font-weight: 600;
      line-height: convertPxToRem(30.8px);
    }
    .showcasing-desc {
      margin: 0 auto;
      color: #888888;
      line-height: convertPxToRem(21.45px);
      margin: convertPxToRem(11.5px) 0;
      font-weight: 400;
    }
    .view-more {
      strong {
        font-weight: 100;
        &:hover {
          text-decoration: underline;
          color: #88bbc8;
          transition: 0.3s ease-in-out;
        }
      }
    }
    .showcasing-card-list {
      padding-top: convertPxToRem(70px);
      .card-item {
        border: 1px solid #e1e1e1;
        .item-desc {
          text-align: justify;
          font-size: convertPxToRem(13px);
          padding: convertPxToRem(18px);
          color: #666666;
          letter-spacing: 0;
        }
      }
    }
  }
  .section-feature {
    .container {
      justify-content: space-between;
    }
    .feature-img {
      width: calc(100% / 2);
      height: 100%;
      .img-feature {
        border: convertPxToRem(1.5px) solid #e1e1e1;
        min-width: 100%;
        padding: 6px;
      }
      .img-list {
        margin-top: -4px;
        .img-item {
          width: calc(100% / 7);
          img {
            width: 100%;
            height: 100%;
            padding: 6px;
            aspect-ratio: auto 100 / 100;
            border: convertPxToRem(1.5px) solid #e1e1e1;
            cursor: pointer;
          }
          text-align: center;
          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-right: none;
          }
        }
      }
    }
    .feature-content {
      width: calc(100% / 2);
      margin-left: 60px;
      .feature-content-title {
        margin: 0px 0px 10px;
        letter-spacing: convertPxToRem(1px);
        color: #222222;
        font-size: convertPxToRem(28px);
        line-height: convertPxToRem(30px);
      }
      .feature-content-desc {
        margin-bottom: 15px;
        letter-spacing: 0.4px;
      }
      .feature-content-desc,
      .feature-item {
        line-height: convertPxToRem(20px);
        color: #666666;
        font-size: 13px;
        &:last-child {
          padding: 0;
          margin: 0;
        }
      }
      .feature-list {
        padding-left: convertPxToRem(15px);
        font-size: 13px;
        .feature-item {
          list-style: outside;
          letter-spacing: 0.5px;
          margin: 8px 0px;
        }
      }
      .hr {
        margin: convertPxToRem(40px) 0;
        width: 35%;
      }
    }
  }
  .section-about {
    background-color: #fdfdfd;
    .container {
      justify-content: space-between;
      li {
        font-size: convertPxToRem(13px);
      }
    }
    .about-left {
      min-width: 48%;
      text-align: right;
      position: relative;
      p {
        color: #888888;
      }
      .hr {
        left: 30%;
        width: 35%;
        margin: 45px auto;
        .hr-style {
          left: 100%;
        }
      }
      .btn-checkout {
        margin-bottom: 2rem;
      }
      .about-title {
        font-size: convertPxToRem(28px);
        letter-spacing: 1px;
      }
      .about-left-list {
        p {
          line-height: convertPxToRem(20px);
          &:first-child {
            padding-bottom: convertPxToRem(20px);
          }
        }
      }
    }

    .about-right {
      height: 100%;
      text-align: left;
      .about-item {
        padding-bottom: convertPxToRem(55px);
        &:last-child {
          padding: 0;
        }
        .about-content {
          display: table;
        }
        .item-title {
          font-size: convertPxToRem(18px);
          color: #444444;
          padding-bottom: 13px;
          line-height: 1.1em;
        }
        .item-desc {
          color: #a0a0a0;
        }
        .icon-item {
          height: 64px;
          width: 64px;
          line-height: 64px;
          font-size: 30px;
          text-align: center;
          border-radius: 500px;
          position: relative;
          float: left;
          margin-right: 22px;
          margin-left: 50px;
          z-index: 5;
          color: #fff;
          border-color: #e1e1e1;
          background-color: #d0d0d0;
          i {
            line-height: convertPxToRem(64px);
            font-size: convertPxToRem(25px);
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            width: 1px;
            min-height: 100px;
            border-right-width: 1px;
            border-right-style: dashed;
            color: #c4c4c4;
          }
        }
        .d-none-affter {
          &::after {
            display: none;
          }
        }
      }
    }
  }
  .section-mobile {
    .container {
      gap: convertPxToRem(50px);
    }
    .hr {
      width: 35%;
      margin: 30px 0;
    }
    img {
      min-width: 45%;
      animation: loop-iphone 3s;
    }
    .mobile-content {
      .mobile-title {
        letter-spacing: convertPxToRem(0.5px);
        font-size: convertPxToRem(28px);
      }
      .mobile-desc {
        line-height: convertPxToRem(30px);
        p {
          line-height: 21px;
          &:first-child {
            padding-bottom: convertPxToRem(10px);
          }
        }
      }
      .btn-mobile {
        width: 12rem;
        margin: 0;
      }
    }
  }
  .section-about-us {
    text-align: center;
    background-color: #fdfdfd;
    .hr {
      width: 30%;
      .hr-style {
        left: 50%;
      }
    }
    p {
      color: #888888;
      letter-spacing: 0.3px;
    }
    strong {
      font-weight: 500;
    }
    .about-us-title {
      line-height: convertPxToRem(50px);
      letter-spacing: convertPxToRem(0.5px);
      font-size: convertPxToRem(28px);
    }
    .about-us-content {
      text-align: left;
      .about-us-inner {
        display: table-cell;
        width: 50%;
        border-right: 1px dashed #e1e1e1;
        border-bottom: 1px dashed #e1e1e1;
        padding: 20px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        &:nth-child(2) {
          border-right: none;
        }
      }
      .border-none {
        border-bottom: none;
      }
      .about-us-item {
        display: flex;
        width: 100%;
        line-height: convertPxToRem(30px);
        img {
          float: left;
          margin: 0 20px 0 0;
          width: 80px;
          height: 80px;
          border-radius: 100px;
          aspect-ratio: auto 180 / 180;
        }
        .item-desc {
          line-height: convertPxToRem(20px);
          text-align: left;
        }
        .item-name {
          padding-top: 1rem;
          color: #444444;
        }
        .item-position {
          color: #a0a0a0;
        }
      }
    }
  }
  .section-contact-us {
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(https://kriesi.at/themes/enfold/wp-content/uploads/sites/37/2013/04/room.jpg);
    background-attachment: scroll;
    background-position: top center;
    background-size: cover;
    line-height: convertPxToRem(50px);
    .container {
      padding: 50px;
    }
    .contact-us-title,
    .contact-us-title-desc {
      color: #fff;
    }
    .contact-us-title {
      letter-spacing: convertPxToRem(1px);
      font-size: convertPxToRem(28px);
    }
    .contact-us-title-desc {
      padding-bottom: convertPxToRem(60px);
    }
    .contact-us-content {
      .contact-us-box {
        background-color: #fff;
        padding: convertPxToRem(8px) convertPxToRem(11px);
        border-radius: convertPxToRem(3px);
        position: relative;
        width: 312px;
        margin-left: 4rem;
        border-radius: 3px;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
        &:first-child {
          margin-left: 0;
        }
        .contact-us-box-title {
          padding: 1rem 0 0 0;
          font-size: convertPxToRem(16px);
          font-weight: 600;
          letter-spacing: convertPxToRem(1px);
          color: #222222;
        }
        .contact-us-box-desc {
          text-align: center;
          font-size: 13px;
          letter-spacing: convertPxToRem(0.5px);
        }
        .icon-contact-us {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #c3512f;
          height: convertPxToRem(53px);
          width: convertPxToRem(53px);
          line-height: convertPxToRem(53px);
          font-size: convertPxToRem(20px);
          text-align: center;
          border-radius: convertPxToRem(500px);
          z-index: 5;
          color: #fff;
        }
      }
    }
  }
  .section-brand {
    .container {
      padding: 0;
    }
    .brand-list {
      justify-content: center;
      align-items: center;
      .brand-item {
        max-width: 18%;
      }
    }
  }
}
@include respond-below(large) {
  h2 {
    line-height: 1.1em !important;
  }
  .btn-primary {
    padding: 11px 20px 11px;
  }
  .page-main {
    .container {
      padding: convertPxToRem(70px) 2rem;
    }
    .section-about-us .about-us-content {
      .about-us-inner {
        display: flex;
        width: 100%;
        border-bottom: 1px dashed #e1e1e1;
        border-right: none;
      }
      .border-none {
        &:last-child {
          border-bottom: none;
        }
      }
    }
    .slider-content-list {
      .container {
        gap: convertPxToRem(20px);
        padding: convertPxToRem(50px) 2rem;
      }
    }
    .section-slider .wrapper .slider-content {
      .mac {
        top: 20%;
        right: 20%;
        width: 40%;
        height: 70%;
      }
      .mac-pro {
        top: 50%;
        right: 10%;
        width: 25%;
        height: 30%;
      }
      .iphone {
        top: 50%;
        left: 30%;
        width: 20%;
        height: 30%;
      }
      .logo-slide {
        top: 20%;
        width: 30%;
        left: 3%;
        z-index: 2;
      }
      .logo-slide-desc {
        top: 45%;
        left: 3%;
        width: 30%;
        z-index: 2;
      }
    }
  }
  .page-header {
    .container {
      .header-list {
        width: 100%;
        font-size: 0;
      }
    }
  }
  .feature-list {
    .list-item {
      padding: 0;
    }
  }
  .page-footer {
    .container {
      flex-wrap: wrap;
      justify-content: unset;
      gap: 0;
    }
    .footer-left,
    .footer-middle-one,
    .footer-middle-two,
    .footer-right {
      min-width: 100%;
      padding: 0;
    }
    .container {
      padding: 0 1rem;
    }
  }
}
@include respond-below(wide) {
  .page-header {
    .header-list {
      display: none;
    }
  }
  .page-main {
    .section-showcasing {
      .showcasing-title {
        line-height: 2.25rem;
        font-size: 1.3rem;
      }
      .showcasing-card-list .card-item .item-desc {
        padding: 0.8rem;
      }
    }
    .section-about {
      .about-right .about-item {
        padding-bottom: 3.875rem;
      }
    }
    .section-about-us {
      .about-us-content {
        flex-direction: column;
        .about-us-item {
          width: 100% !important;
        }
        .about-us-inner {
          padding: 20px 0;
        }
      }
    }
    .section-slider .wrapper .slider-content {
      .logo-slide {
        top: 20%;
        width: 30%;
        left: 5%;
        z-index: 2;
      }
      .logo-slide-desc {
        top: 45%;
        left: 5%;
        width: 30%;
        z-index: 2;
      }
    }
    .section-contact-us .contact-us-content {
      flex-wrap: wrap;
      .contact-us-box {
        margin: 2rem 0;
        width: 100%;
      }
    }
    .section-slider .wrapper {
      min-height: 308px;
      .slider-content {
        .logo-slide {
          top: 20%;
          width: 30%;
          left: 8%;
          z-index: 2;
        }
        .logo-slide-desc {
          top: 45%;
          left: 8%;
          width: 30%;
          z-index: 2;
        }
        .mac {
          top: 20%;
          right: 8%;
          width: 35%;
          height: 70%;
        }
        .iphone {
          top: 60%;
          left: 55%;
          width: 15%;
          height: 35%;
        }
        .mac-pro {
          top: 60%;
          right: 0;
          width: 25%;
          height: 30%;
        }
        .iphone-hand {
          left: -20%;
        }
        .slide-title {
          width: 40%;
          left: 50%;
          padding: 0.5rem 0rem;
          font-size: 0.5rem;
        }
        .slide-desc {
          top: 32%;
          width: 40%;
          left: 50%;
        }
      }
    }
  }
}
@include respond-below(medium) {
  .page-main {
    .slider-content-list {
      .container {
        flex-direction: column;
      }
      .list-item {
        min-width: 100%;
      }
    }
    .showcasing-card-list {
      flex-wrap: wrap;
    }
    .section-feature {
      .container {
        flex-wrap: wrap;
        .feature-img {
          width: 100%;
          img {
            width: 100%;
          }
        }
        .feature-content {
          width: 100%;
        }
      }
    }
    .section-about {
      .container {
        flex-wrap: wrap;
      }
      .about-right {
        .icon-item {
          margin-left: 0 !important;
        }
      }
    }
    .section-mobile {
      .container {
        flex-wrap: wrap;
      }
    }
    .section-about-us .about-us-content .about-us-item {
      width: 100%;
      margin: 20px;
    }
    .section-feature .feature-content {
      padding-top: 2rem;
      margin-left: 0;
    }
    .section-about-us .about-us-content {
      padding: 0;
      gap: 1rem;
      .about-us-item {
        margin: 0;
        .item-desc {
          p {
            letter-spacing: 0.5px;
          }
        }
      }
    }
    .section-contact-us {
      .contact-us-title-desc {
        padding-bottom: 2rem;
      }
      .contact-us-content {
        .contact-us-box {
          margin: 2rem 0;
          width: 100%;
        }
      }
    }
    .section-about .about-right .about-item {
      padding-bottom: 2rem;
    }
    .section-brand {
      .brand-list {
        flex-wrap: wrap;
        .brand-item {
          &:first-child {
            min-width: 100%;
          }
          min-width: 50%;
        }
      }
    }
    .section-slider .wrapper .slider-content {
      .iphone {
        top: 50%;
        left: 45%;
        width: 20%;
        height: 35%;
      }
    }
  }
}
@include respond-below(small) {
  .page-main {
    .container {
      padding: 3.875rem 1rem;
    }
    .slider-content-list .container {
      padding: 3.875rem 1rem;
    }
    .section-showcasing {
      .showcasing-title {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
      }
      .showcasing-card-list .card-item .item-desc {
        padding: 0.8rem;
        letter-spacing: 0;
      }
    }
    .slider-content-list {
      .container {
        gap: 1rem;
      }
      .list-item {
        width: 100%;
        .item-title {
          font-size: 1rem;
        }
      }
    }
    .section-feature .feature-content {
      margin-left: 0;
      .feature-content-title {
        font-size: 1.75rem;
        padding-top: 2rem;
      }
    }
    .section-contact-us .contact-us-content {
      flex-wrap: wrap;
      .contact-us-box {
        margin: 2rem 0;
      }
    }
    .section-slider {
      input {
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 0.5rem;
      }
      .wrapper {
        min-height: 156px;
        .slider-content {
          .logo-slide {
            top: 20%;
            width: 30%;
            left: 8%;
            z-index: 2;
          }
          .logo-slide-desc {
            top: 45%;
            left: 8%;
            width: 30%;
            z-index: 2;
          }
          .mac {
            top: 20%;
            right: 8%;
            width: 40%;
            height: 80%;
          }
          .iphone {
            top: 60%;
            left: 42%;
            width: 22%;
            height: 35%;
          }
          .mac-pro {
            top: 62%;
            right: 0;
            width: 25%;
            height: 30%;
          }
          .iphone-hand {
            left: -20%;
          }
          .slide-title {
            width: 40%;
            left: 50%;
            padding: 0.5rem 0rem;
            font-size: 0.5rem;
          }
          .slide-desc {
            width: 40%;
            left: 50%;
          }
        }
      }
    }
    .section-about-us .about-us-content {
      padding: 0;
      gap: 1rem;
      .about-us-inner {
        padding: 10px 0;
      }
      .about-us-item {
        margin: 0;
        .item-desc {
          p {
            letter-spacing: 0.5px;
          }
        }
        img {
          width: 80px;
          aspect-ratio: auto 80 / 80;
          height: 80px;
        }
      }
    }
    .section-about .about-right .about-item {
      line-height: 2.5rem;
      padding-bottom: 1rem;
      margin: 0;
      .item-title {
        padding-bottom: 0;
        line-height: 1.4rem;
        font-size: 1rem;
      }
      .icon-item {
        margin-left: 0.5rem;
        background-color: #d0d0d0;
        height: 3.5rem;
        width: 3.5rem;
        font-size: 1rem;
        &::after {
          min-height: 100px;
        }
        i {
          line-height: 3.5rem;
          font-size: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .section-brand {
      .brand-list {
        flex-wrap: wrap;
        .brand-item {
          min-width: 100%;
        }
      }
    }
  }
  .about-us-title {
    font-size: 1.3rem;
  }
  .item-name,
  .item-position {
    margin-left: -100px;
    text-align: left;
  }
  .page-footer {
    .container {
      padding: 0 1rem;
    }
    .footer-left,
    .footer-middle-one,
    .footer-middle-two,
    .footer-right {
      padding: 30px 0;
    }
    .footer-bottom a {
      font-size: 0.5875rem;
    }
  }
}
