@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
del,
em,
img,
small,
strong,
b,
u,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
button,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word;
}

html {
  line-height: 1;
}

body {
  font-family: "Open Sans", sans-serif;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

a img {
  border: none;
}

article,
aside,
details,
figure,
footer,
header,
menu,
nav,
section,
summary {
  display: block;
}

.btn-primary {
  padding: 15px 30px;
  background-color: #ffffff;
  color: #888888;
  border: 0.3px solid #888888;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.btn-primary i {
  font-size: 18px;
  padding: 0 3px;
}

.btn-primary:hover {
  color: #4f4f4f;
  background-color: transparent;
}

.d-none {
  display: none;
}

hr {
  margin: 2rem auto;
  position: relative;
  background-color: #fcfcfc;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mx-5 {
  margin-left: 0.3125rem !important;
  margin-right: 0.3125rem !important;
}

.my-5 {
  margin-top: 0.3125rem !important;
  margin-bottom: 0.3125rem !important;
}

.m-5 {
  margin: 0.3125rem !important;
}

.mt-5 {
  margin-top: 0.3125rem !important;
}

.ml-5 {
  margin-left: 0.3125rem !important;
}

.mr-5 {
  margin-right: 0.3125rem !important;
}

.mb-5 {
  margin-bottom: 0.3125rem !important;
}

.mx-10 {
  margin-left: 0.625rem !important;
  margin-right: 0.625rem !important;
}

.my-10 {
  margin-top: 0.625rem !important;
  margin-bottom: 0.625rem !important;
}

.m-10 {
  margin: 0.625rem !important;
}

.mt-10 {
  margin-top: 0.625rem !important;
}

.ml-10 {
  margin-left: 0.625rem !important;
}

.mr-10 {
  margin-right: 0.625rem !important;
}

.mb-10 {
  margin-bottom: 0.625rem !important;
}

.mx-15 {
  margin-left: 0.9375rem !important;
  margin-right: 0.9375rem !important;
}

.my-15 {
  margin-top: 0.9375rem !important;
  margin-bottom: 0.9375rem !important;
}

.m-15 {
  margin: 0.9375rem !important;
}

.mt-15 {
  margin-top: 0.9375rem !important;
}

.ml-15 {
  margin-left: 0.9375rem !important;
}

.mr-15 {
  margin-right: 0.9375rem !important;
}

.mb-15 {
  margin-bottom: 0.9375rem !important;
}

.mx-20 {
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important;
}

.my-20 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}

.m-20 {
  margin: 1.25rem !important;
}

.mt-20 {
  margin-top: 1.25rem !important;
}

.ml-20 {
  margin-left: 1.25rem !important;
}

.mr-20 {
  margin-right: 1.25rem !important;
}

.mb-20 {
  margin-bottom: 1.25rem !important;
}

.mx-25 {
  margin-left: 1.5625rem !important;
  margin-right: 1.5625rem !important;
}

.my-25 {
  margin-top: 1.5625rem !important;
  margin-bottom: 1.5625rem !important;
}

.m-25 {
  margin: 1.5625rem !important;
}

.mt-25 {
  margin-top: 1.5625rem !important;
}

.ml-25 {
  margin-left: 1.5625rem !important;
}

.mr-25 {
  margin-right: 1.5625rem !important;
}

.mb-25 {
  margin-bottom: 1.5625rem !important;
}

.mx-30 {
  margin-left: 1.875rem !important;
  margin-right: 1.875rem !important;
}

.my-30 {
  margin-top: 1.875rem !important;
  margin-bottom: 1.875rem !important;
}

.m-30 {
  margin: 1.875rem !important;
}

.mt-30 {
  margin-top: 1.875rem !important;
}

.ml-30 {
  margin-left: 1.875rem !important;
}

.mr-30 {
  margin-right: 1.875rem !important;
}

.mb-30 {
  margin-bottom: 1.875rem !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.px-5 {
  padding-left: 0.3125rem !important;
  padding-right: 0.3125rem !important;
}

.py-5 {
  padding-top: 0.3125rem !important;
  padding-bottom: 0.3125rem !important;
}

.p-5 {
  padding: 0.3125rem !important;
}

.pt-5 {
  padding-top: 0.3125rem !important;
}

.pl-5 {
  padding-left: 0.3125rem !important;
}

.pr-5 {
  padding-right: 0.3125rem !important;
}

.pb-5 {
  padding-bottom: 0.3125rem !important;
}

.px-10 {
  padding-left: 0.625rem !important;
  padding-right: 0.625rem !important;
}

.py-10 {
  padding-top: 0.625rem !important;
  padding-bottom: 0.625rem !important;
}

.p-10 {
  padding: 0.625rem !important;
}

.pt-10 {
  padding-top: 0.625rem !important;
}

.pl-10 {
  padding-left: 0.625rem !important;
}

.pr-10 {
  padding-right: 0.625rem !important;
}

.pb-10 {
  padding-bottom: 0.625rem !important;
}

.px-15 {
  padding-left: 0.9375rem !important;
  padding-right: 0.9375rem !important;
}

.py-15 {
  padding-top: 0.9375rem !important;
  padding-bottom: 0.9375rem !important;
}

.p-15 {
  padding: 0.9375rem !important;
}

.pt-15 {
  padding-top: 0.9375rem !important;
}

.pl-15 {
  padding-left: 0.9375rem !important;
}

.pr-15 {
  padding-right: 0.9375rem !important;
}

.pb-15 {
  padding-bottom: 0.9375rem !important;
}

.px-20 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.py-20 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.p-20 {
  padding: 1.25rem !important;
}

.pt-20 {
  padding-top: 1.25rem !important;
}

.pl-20 {
  padding-left: 1.25rem !important;
}

.pr-20 {
  padding-right: 1.25rem !important;
}

.pb-20 {
  padding-bottom: 1.25rem !important;
}

.px-25 {
  padding-left: 1.5625rem !important;
  padding-right: 1.5625rem !important;
}

.py-25 {
  padding-top: 1.5625rem !important;
  padding-bottom: 1.5625rem !important;
}

.p-25 {
  padding: 1.5625rem !important;
}

.pt-25 {
  padding-top: 1.5625rem !important;
}

.pl-25 {
  padding-left: 1.5625rem !important;
}

.pr-25 {
  padding-right: 1.5625rem !important;
}

.pb-25 {
  padding-bottom: 1.5625rem !important;
}

.px-30 {
  padding-left: 1.875rem !important;
  padding-right: 1.875rem !important;
}

.py-30 {
  padding-top: 1.875rem !important;
  padding-bottom: 1.875rem !important;
}

.p-30 {
  padding: 1.875rem !important;
}

.pt-30 {
  padding-top: 1.875rem !important;
}

.pl-30 {
  padding-left: 1.875rem !important;
}

.pr-30 {
  padding-right: 1.875rem !important;
}

.pb-30 {
  padding-bottom: 1.875rem !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: -.025em;
}

p {
  line-height: 1.45;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 2.1875rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.53125rem;
}

h4 {
  font-size: 1.3125rem;
}

h5 {
  font-size: 1.09375rem;
}

h6 {
  font-size: 0.875rem;
}

.btn {
  padding: 8px 16px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border-radius: 0.5rem;
  font-size: 18px;
  font-size: 1.125rem;
  height: 40px;
  height: 2.5rem;
  background: #c3512f;
  color: #fff;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: background 400ms ease;
  transition: background 400ms ease;
  border: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn:focus {
  outline: none;
}

.btn.disabled, .btn:disabled {
  pointer-events: none;
  background: #f7f7f7;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"],
select,
textarea {
  padding: 8px;
  padding: 0.5rem;
  height: 40px;
  height: 2.5rem;
  border-radius: 8px;
  border-radius: 0.5rem;
  width: 100%;
  border: 1px solid #e4e4e4;
  background: #fff;
  outline: none;
  -webkit-transition: border-color 0.4s;
  transition: border-color 0.4s;
  display: block;
  -webkit-appearance: none;
  -webkit-transition: border-color 0.4s, -webkit-box-shadow 0.4s;
  transition: border-color 0.4s, -webkit-box-shadow 0.4s;
  transition: border-color 0.4s, box-shadow 0.4s;
  transition: border-color 0.4s, box-shadow 0.4s, -webkit-box-shadow 0.4s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 0 1px;
          box-shadow: 0 0 0 1px;
}

input[type="text"]:disabled, input[type="text"].disabled,
input[type="password"]:disabled,
input[type="password"].disabled,
input[type="tel"]:disabled,
input[type="tel"].disabled,
input[type="number"]:disabled,
input[type="number"].disabled,
select:disabled,
select.disabled,
textarea:disabled,
textarea.disabled {
  background: #f7f7f7;
  border-color: #f7f7f7;
}

input[type="text"][readonly],
input[type="password"][readonly],
input[type="tel"][readonly],
input[type="number"][readonly],
select[readonly],
textarea[readonly] {
  border-color: #e4e4e4;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input::-ms-clear, input::-ms-reveal {
  display: none;
}

textarea {
  resize: vertical;
}

label {
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
  display: block;
}

.form-group {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 10px;
  padding: 0.625rem;
  border: 1px solid #e4e4e4;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  max-width: 1200px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.row > [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}

.row-no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.row-no-gutters > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

/* Grid for all screen
 * Ex: col-1, col-2 */
.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

/* Grid for screen min-width: $small
 * Ex: col-small-1, col-small-2 */
@media (min-width: 480px) {
  .col-small-1 {
    width: 8.33333%;
  }
  .col-small-2 {
    width: 16.66667%;
  }
  .col-small-3 {
    width: 25%;
  }
  .col-small-4 {
    width: 33.33333%;
  }
  .col-small-5 {
    width: 41.66667%;
  }
  .col-small-6 {
    width: 50%;
  }
  .col-small-7 {
    width: 58.33333%;
  }
  .col-small-8 {
    width: 66.66667%;
  }
  .col-small-9 {
    width: 75%;
  }
  .col-small-10 {
    width: 83.33333%;
  }
  .col-small-11 {
    width: 91.66667%;
  }
  .col-small-12 {
    width: 100%;
  }
}

/* Grid for screen min-width: $medium
 * Ex: col-medium-1, col-medium-2 */
@media (min-width: 768px) {
  .col-medium-1 {
    width: 8.33333%;
  }
  .col-medium-2 {
    width: 16.66667%;
  }
  .col-medium-3 {
    width: 25%;
  }
  .col-medium-4 {
    width: 33.33333%;
  }
  .col-medium-5 {
    width: 41.66667%;
  }
  .col-medium-6 {
    width: 50%;
  }
  .col-medium-7 {
    width: 58.33333%;
  }
  .col-medium-8 {
    width: 66.66667%;
  }
  .col-medium-9 {
    width: 75%;
  }
  .col-medium-10 {
    width: 83.33333%;
  }
  .col-medium-11 {
    width: 91.66667%;
  }
  .col-medium-12 {
    width: 100%;
  }
}

/* Grid for screen min-width: $large
 * Ex: col-large-1, col-large-2 */
@media (min-width: 1024px) {
  .col-large-1 {
    width: 8.33333%;
  }
  .col-large-2 {
    width: 16.66667%;
  }
  .col-large-3 {
    width: 25%;
  }
  .col-large-4 {
    width: 33.33333%;
  }
  .col-large-5 {
    width: 41.66667%;
  }
  .col-large-6 {
    width: 50%;
  }
  .col-large-7 {
    width: 58.33333%;
  }
  .col-large-8 {
    width: 66.66667%;
  }
  .col-large-9 {
    width: 75%;
  }
  .col-large-10 {
    width: 83.33333%;
  }
  .col-large-11 {
    width: 91.66667%;
  }
  .col-large-12 {
    width: 100%;
  }
}

/* Grid for screen min-width: $largest
 * Ex: col-largest-1, col-largest-2 */
@media (min-width: 1280px) {
  .col-largest-1 {
    width: 8.33333%;
  }
  .col-largest-2 {
    width: 16.66667%;
  }
  .col-largest-3 {
    width: 25%;
  }
  .col-largest-4 {
    width: 33.33333%;
  }
  .col-largest-5 {
    width: 41.66667%;
  }
  .col-largest-6 {
    width: 50%;
  }
  .col-largest-7 {
    width: 58.33333%;
  }
  .col-largest-8 {
    width: 66.66667%;
  }
  .col-largest-9 {
    width: 75%;
  }
  .col-largest-10 {
    width: 83.33333%;
  }
  .col-largest-11 {
    width: 91.66667%;
  }
  .col-largest-12 {
    width: 100%;
  }
}

.page-header {
  padding: 10px;
  padding: 0.625rem;
  background: #e9eaec;
  text-align: center;
  padding: 0;
}

.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3.125rem;
}

.page-header .header-logo {
  max-width: 18.75rem;
  max-height: 6.25rem;
}

.page-header .menu-list .menu-item {
  display: inline-block;
  padding-left: 1.25rem;
  line-height: 6.25rem;
}

.page-header .menu-list .menu-item:first-child {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border-bottom: 0.1875rem solid #c3512f;
}

.page-header .menu-list .menu-item a {
  font-size: 0.9375rem;
  font-weight: 600;
  letter-spacing: 0.03125rem;
}

.page-main {
  padding: 0;
}

.page-main strong {
  color: #c3512f;
}

.page-main .section-slider {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.page-main .section-slider .slide {
  min-width: 100%;
  min-height: 100%;
}

.page-main .section-slider button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: dodgerblue;
  color: white;
  margin: 1rem 0;
  font-size: 1rem;
}

.page-main .section-slider .wrapper {
  position: relative;
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.page-main .section-slider .wrapper .slider-content .logo-slide,
.page-main .section-slider .wrapper .slider-content .logo-slide-desc,
.page-main .section-slider .wrapper .slider-content .mac,
.page-main .section-slider .wrapper .slider-content .iphone,
.page-main .section-slider .wrapper .slider-content .mac-pro,
.page-main .section-slider .wrapper .slider-content .iphone-hand,
.page-main .section-slider .wrapper .slider-content .slide-content-top,
.page-main .section-slider .wrapper .slider-content .slide-content-bottom,
.page-main .section-slider .wrapper .slider-content .slide-title,
.page-main .section-slider .wrapper .slider-content .slide-desc {
  position: absolute;
  border-width: 0px;
  border-radius: 0px;
  letter-spacing: 0px;
  -webkit-filter: none;
          filter: none;
}

.page-main .section-slider .wrapper .slider-content .logo-slide {
  top: 5%;
  left: 3%;
  width: 20%;
  height: 20%;
  -webkit-animation: loop-slide 3s;
          animation: loop-slide 3s;
}

.page-main .section-slider .wrapper .slider-content .logo-slide-desc {
  top: 28%;
  left: 3%;
  width: 20%;
  height: 10%;
  -webkit-animation: loop-slide 3s;
          animation: loop-slide 3s;
}

@-webkit-keyframes loop-slide {
  from {
    -webkit-transform: translateX(-100rem) rotate(100deg);
            transform: translateX(-100rem) rotate(100deg);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes loop-slide {
  from {
    -webkit-transform: translateX(-100rem) rotate(100deg);
            transform: translateX(-100rem) rotate(100deg);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.page-main .section-slider .wrapper .slider-content .mac {
  top: 5%;
  right: 30%;
  width: 35%;
  height: 100%;
  -webkit-animation: loop 3s;
          animation: loop 3s;
}

@-webkit-keyframes loop {
  from {
    -webkit-transform: translateX(100rem);
            transform: translateX(100rem);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes loop {
  from {
    -webkit-transform: translateX(100rem);
            transform: translateX(100rem);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.page-main .section-slider .wrapper .slider-content .iphone {
  top: 50%;
  left: 25%;
  width: 20%;
  height: 50%;
  -webkit-animation: loop-iphone 2s;
          animation: loop-iphone 2s;
}

@-webkit-keyframes loop-iphone {
  from {
    -webkit-transform: translateX(-100rem);
            transform: translateX(-100rem);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes loop-iphone {
  from {
    -webkit-transform: translateX(-100rem);
            transform: translateX(-100rem);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.page-main .section-slider .wrapper .slider-content .mac-pro {
  top: 50%;
  right: 20%;
  width: 25%;
  height: 50%;
  -webkit-animation: loop-mac 2s;
          animation: loop-mac 2s;
}

@-webkit-keyframes loop-mac {
  from {
    -webkit-transform: translateY(100rem);
            transform: translateY(100rem);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes loop-mac {
  from {
    -webkit-transform: translateY(100rem);
            transform: translateY(100rem);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.page-main .section-slider .wrapper .slider-content .iphone-hand {
  bottom: 0;
  left: 5%;
  -webkit-animation: loop 2s;
          animation: loop 2s;
}

.page-main .section-slider .wrapper .slider-content .slide-content-top {
  top: -50%;
  left: -5%;
  width: 30%;
  height: 100%;
}

.page-main .section-slider .wrapper .slider-content .slide-content-bottom {
  bottom: -50%;
  left: -5%;
  width: 30%;
  height: 100%;
}

.page-main .section-slider .wrapper .slider-content .slide-title {
  top: 25%;
  left: 55%;
  -webkit-box-shadow: black 0px 4px 10px -5px;
          box-shadow: black 0px 4px 10px -5px;
  text-shadow: none;
  font-weight: normal;
  opacity: 0.65;
  width: 20rem;
  text-align: center;
  padding: 1.5rem 0.5rem;
  font-size: 1.5rem;
  color: white;
  background: black;
}

.page-main .section-slider .wrapper .slider-content .slide-desc {
  top: 39%;
  left: 55%;
  text-shadow: none;
  font-weight: normal;
  opacity: 0.65;
  text-align: center;
  width: 20rem;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  color: white;
  background: black;
  border-top: 1px solid #fff;
}

.page-main .section-slider input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  z-index: 100;
  margin-right: 1rem;
  width: 1rem;
  height: 1rem;
  background: dodgerblue;
  border-radius: 50%;
  cursor: pointer;
}

.page-main .section-slider input:last-of-type {
  margin: 0;
}

.page-main .section-slider input:focus {
  outline: none;
}

.page-main .section-slider input:checked {
  background: hotpink;
}

.page-main .section-slider input + * {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform ease-in-out 400ms;
  transition: -webkit-transform ease-in-out 400ms;
  transition: transform ease-in-out 400ms;
  transition: transform ease-in-out 400ms, -webkit-transform ease-in-out 400ms;
  overflow: hidden;
  background: #ddd;
}

.page-main .section-slider section {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-main .section-slider input:checked + * {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 1;
}

.page-main .section-slider input + * + *:not(input[type="radio"]) {
  display: none;
}

.page-main .section-slider input:before {
  display: none !important;
  content: "";
  position: absolute;
  top: 50%;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  background: orange;
  border-radius: 50%;
}

.page-main .section-slider input:after {
  display: none !important;
  content: "";
  position: absolute;
  top: calc(50% + 1rem);
  left: 2rem;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 1px solid #262626;
  border-left: 1px solid #262626;
  -webkit-transform: translate(-25%, -50%) rotate(45deg);
          transform: translate(-25%, -50%) rotate(45deg);
}

.page-main .section-slider input:checked:before,
.page-main .section-slider input:checked:after {
  display: none;
}

.page-main .section-slider input:checked + * + input:before {
  left: calc(100% - 3rem);
}

.page-main .section-slider input:checked + * + input:after {
  left: calc(100% - 2rem);
  -webkit-transform: translate(-75%, -50%) rotate(-135deg);
          transform: translate(-75%, -50%) rotate(-135deg);
}

.page-main .section-slider input:checked + * + input + * ~ input:before,
.page-main .section-slider input:checked + * + input + * ~ input:after {
  display: none;
}

.page-main .section-slider input:last-of-type:before {
  background: green;
}

.page-main .content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.125rem 0;
  gap: 9.375rem;
}

.page-main .content-list .list-item {
  width: calc(100% / 3);
  line-height: 1.875rem;
}

.page-main .content-list .list-item .item-title {
  margin: 0 0 1rem 0;
  font-size: 1.125rem;
  letter-spacing: 0.05rem;
}

.page-main .content-list .list-item .item-desc {
  font-size: 1rem;
}

.page-main .section-showcasing {
  background-color: #fafafa;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  min-width: 100%;
  padding: 3.125rem 0;
}

.page-main .section-showcasing .showcasing-title {
  line-height: 6.25rem;
}

.page-main .section-showcasing .showcasing-desc {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 3.125rem;
}

.page-main .section-showcasing .showcasing-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.0625rem;
}

.page-main .section-showcasing .showcasing-card-list .card-item {
  border: 1px solid #e1e1e1;
}

.page-main .section-showcasing .showcasing-card-list .card-item .item-desc {
  text-align: justify;
  font-size: 0.9375rem;
  padding: 0.9375rem;
}

.page-main .section-showcasing .view-more {
  line-height: 6.25rem;
}

.page-main .section-feature {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 0 0.5rem 0;
  padding: 6.25rem 0;
}

.page-main .section-feature .container {
  gap: 3.75rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-main .section-feature .feature-img {
  width: 50%;
  border: 0.125rem solid #e1e1e1;
  padding: 0.375rem;
  height: 100%;
}

.page-main .section-feature .feature-img img {
  min-width: 100%;
}

.page-main .section-feature .feature-img .img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
}

.page-main .section-feature .feature-img .img-list .img-item {
  width: calc(100% / 7);
  border: 0.125rem solid #e1e1e1;
}

.page-main .section-feature .feature-img .img-list .img-item img {
  max-width: 100%;
  padding: 0.375rem;
  cursor: pointer;
}

.page-main .section-feature .feature-content {
  width: 50%;
}

.page-main .section-feature .feature-content .feature-content-title {
  margin: 0 0 1.875rem 0;
  letter-spacing: 0.0625rem;
}

.page-main .section-feature .feature-content .feature-content-desc,
.page-main .section-feature .feature-content .feature-item {
  font-size: 1rem;
  line-height: 1.875rem;
  padding-bottom: 0.625rem;
}

.page-main .section-feature .feature-content .feature-list {
  padding-left: 1.875rem;
}

.page-main .section-feature .feature-content .feature-list .feature-item {
  list-style: outside;
}

.page-main .section-about {
  padding: 6.25rem 0;
  background-color: #fafafa;
}

.page-main .section-about .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-main .section-about .container li {
  font-size: 1rem;
}

.page-main .section-about .about-left {
  min-width: 45%;
  text-align: right;
}

.page-main .section-about .about-left .about-left-list li {
  line-height: 1.5625rem;
}

.page-main .section-about .about-left .about-left-list li:first-child {
  padding-bottom: 1.25rem;
}

.page-main .section-about .about-right .about-item {
  padding-bottom: 3.125rem;
  line-height: 2.5rem;
  display: inline-block;
}

.page-main .section-about .about-right .about-item .about-content {
  display: table;
}

.page-main .section-about .about-right .about-item .icon-item {
  margin: 0 2.5rem;
  background-color: #d0d0d0;
  height: 4.0625rem;
  width: 4.0625rem;
  line-height: 4.0625rem;
  font-size: 1.875rem;
  text-align: center;
  border-radius: 31.25rem;
  float: left;
  z-index: 5;
  color: #fff;
  position: relative;
}

.page-main .section-about .about-right .about-item .icon-item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 1px;
  min-height: 100%;
  border-right-width: 1px;
  border-right-style: dashed;
  color: #c4c4c4;
}

.page-main .section-about .about-right .about-item .d-none-affter::after {
  display: none;
}

.page-main .section-mobile {
  margin: 0.3125rem 0;
  padding: 3.125rem 0;
}

.page-main .section-mobile .container {
  gap: 3.125rem;
}

.page-main .section-mobile hr {
  width: 15rem;
  text-align: justify;
  margin: 2rem 0;
}

.page-main .section-mobile img {
  min-width: 45%;
}

.page-main .section-mobile .mobile-content .mobile-title {
  letter-spacing: 0.03125rem;
}

.page-main .section-mobile .mobile-content .mobile-desc {
  line-height: 1.875rem;
  font-size: 1rem;
}

.page-main .section-mobile .mobile-content .mobile-desc p:first-child {
  padding-bottom: 0.9375rem;
}

.page-main .section-about-us {
  text-align: center;
  background-color: #fafafa;
  padding: 3.125rem 0;
}

.page-main .section-about-us hr {
  width: 18.75rem;
  text-align: center;
  margin: 2rem auto;
  position: relative;
  background-color: #fcfcfc;
}

.page-main .section-about-us span {
  border-radius: 20px;
  height: 9px;
  width: 9px;
  color: #ccc;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  left: 50%;
  margin-top: -2.4rem;
  background-color: #262626;
}

.page-main .section-about-us .about-us-title {
  line-height: 3.125rem;
  letter-spacing: 0.03125rem;
}

.page-main .section-about-us .about-us-content {
  padding-top: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
  gap: 3.125rem;
}

.page-main .section-about-us .about-us-content .about-us-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% / 2 - 5rem);
  gap: 1rem;
  line-height: 1.875rem;
}

.page-main .section-about-us .about-us-content .about-us-item img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
}

.page-main .section-about-us .about-us-content .about-us-item .item-desc {
  line-height: 1.25rem;
}

.page-main .section-contact-us {
  text-align: center;
  padding: 3.125rem 0;
  background-repeat: no-repeat;
  background-image: url(https://kriesi.at/themes/enfold/wp-content/uploads/sites/37/2013/04/room.jpg);
  background-attachment: scroll;
  background-position: top center;
  background-size: cover;
  line-height: 3.125rem;
}

.page-main .section-contact-us .contact-us-title,
.page-main .section-contact-us .contact-us-title-desc {
  color: #fff;
}

.page-main .section-contact-us .contact-us-title {
  letter-spacing: 0.3125rem;
  font-size: 1.875rem;
}

.page-main .section-contact-us .contact-us-title-desc {
  padding-bottom: 5rem;
}

.page-main .section-contact-us .contact-us-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10%;
}

.page-main .section-contact-us .contact-us-content .contact-us-box {
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.5rem;
  position: relative;
}

.page-main .section-contact-us .contact-us-content .contact-us-box .icon-contact-us {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #c3512f;
  height: 4.0625rem;
  width: 4.0625rem;
  line-height: 4.0625rem;
  font-size: 1.875rem;
  text-align: center;
  border-radius: 31.25rem;
  z-index: 5;
  color: #fff;
}

.page-main .section-brand .brand-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-main .section-brand .brand-list .brand-item {
  max-width: calc(100% / 5);
}

@media (max-width: 1023px) {
  .container {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }
  .page-main .content-list {
    gap: 1.875rem;
  }
  .page-header .menu-list {
    width: 100%;
  }
  .page-header .menu-list .menu-item a {
    font-size: 0.875rem;
  }
  .feature-list .list-item {
    padding: 0;
  }
  .page-footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .page-footer .footer-left,
  .page-footer .footer-middle-one,
  .page-footer .footer-middle-two,
  .page-footer .footer-right {
    min-width: 100%;
  }
  .page-main .section-slider .wrapper .slider-content .mac {
    top: 20%;
    right: 20%;
    width: 40%;
    height: 70%;
  }
  .page-main .section-slider .wrapper .slider-content .mac-pro {
    top: 50%;
    right: 10%;
    width: 25%;
    height: 30%;
  }
  .page-main .section-slider .wrapper .slider-content .iphone {
    top: 50%;
    left: 30%;
    width: 20%;
    height: 30%;
  }
  .page-main .section-slider .wrapper .slider-content .logo-slide {
    width: 30%;
  }
  .page-main .section-slider .wrapper .slider-content .logo-slide-desc {
    width: 30%;
  }
  .page-main .section-slider .wrapper .slider-content .slide-title {
    left: 5%;
  }
  .page-main .section-slider .wrapper .slider-content .slide-desc {
    left: 5%;
  }
}

@media (max-width: 1023px) and (max-width: 959px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .page-header .menu-list {
    display: none;
  }
  .page-main .section-about .about-right .about-item {
    padding-bottom: 0.3rem;
  }
}

@media (max-width: 1023px) and (max-width: 767px) {
  .page-main .content-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-main .content-list .list-item {
    min-width: 100%;
  }
  .showcasing-card-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-feature .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-feature .container .feature-img {
    width: 100%;
  }
  .section-feature .container .feature-img img {
    width: 100%;
  }
  .section-feature .container .feature-content {
    width: 100%;
  }
  .section-about .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-mobile .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-main .section-about-us .about-us-content .about-us-item {
    width: 100%;
    margin: 20px;
  }
  .page-main .section-contact-us .contact-us-title-desc {
    padding-bottom: 2rem;
  }
  .contact-us-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-main .section-contact-us .contact-us-content .contact-us-box {
    margin: 2rem 0;
  }
  .page-main .section-about .about-right .about-item {
    padding-bottom: 1rem;
  }
}

@media (max-width: 1023px) and (max-width: 479px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .page-main .section-showcasing .showcasing-title {
    line-height: 2.25rem;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .about-us-title {
    font-size: 1.5rem;
  }
  .page-main .content-list .list-item .item-title {
    font-size: 1rem;
  }
  .page-main .section-about .about-right .about-item {
    padding: 0;
  }
  .page-main .section-slider .wrapper .slider-content .logo-slide {
    top: 25%;
    width: 90%;
    z-index: 2;
  }
  .page-main .section-slider .wrapper .slider-content .logo-slide-desc {
    top: 50%;
    left: 3%;
    width: 90%;
    z-index: 2;
  }
  .mac,
  .iphone,
  .mac-pro {
    opacity: 0.5;
  }
  .page-main .section-slider .wrapper .slider-content .iphone-hand {
    left: 0;
  }
}

.page-footer {
  padding: 10px;
  padding: 0.625rem;
  background-color: #222222;
  color: #dddddd;
}

.page-footer .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5%;
}

.page-footer ul li {
  margin: 10px 0;
}

.page-footer .footer-left,
.page-footer .footer-middle-one,
.page-footer .footer-middle-two,
.page-footer .footer-right {
  max-width: calc(100% / 4);
}

.page-footer .footer-middle-one .footer-middle-content .content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-footer .footer-middle-one .footer-middle-content .content-item img {
  padding-right: 10px;
}

.page-footer .footer-title {
  padding: 1.5rem 0;
}

.page-footer .footer-left-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-footer .footer-left-socials .social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2rem;
}

.page-footer .footer-left-socials .social-item i {
  color: #fff;
  background-color: #46d4fe;
  border-color: #46d4fe;
  text-shadow: 1px 1px 1px #17acd8;
  padding: 10px;
  text-align: center;
  margin: 5px;
}

.page-footer .footer-left-socials .social-item .fa-rss {
  background-color: #ffa133;
  border-color: #ffa133;
  text-shadow: 1px 1px 1px #d18021;
}

.page-footer .footer-middle-list .list-item {
  display: inline-block;
  border: 1px solid #dddddd;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
}

.page-footer .footer-middle-category-list .list-item {
  color: #fff;
  font-weight: 500;
}

.page-footer .footer-right-list .list-item span {
  font-weight: 500;
  color: #fff;
}

.is-hidden {
  display: none;
}
/*# sourceMappingURL=styles.css.map */