.page-footer {
  background-color: #222222;
  color: #dddddd;
  .container {
    justify-content: space-between;
    padding: 0 50px;
    gap: 4rem;
  }
  ul {
    li {
      margin: 10px 0;
      font-size: 13px;
    }
  }
  p {
    font-size: 13px;
  }
  h6 {
    width: 100%;
  }
  .footer-left,
  .footer-middle-one,
  .footer-middle-two,
  .footer-right {
    width: calc(100% / 4);
    padding: 25px 0;
  }
  .footer-middle-one {
    .footer-middle-content {
      .content-item {
        display: flex;
        gap: 10px;
        img {
          // margin: 0 10px;
          border: 4px solid #444444;
          color: #dddddd;
        }
      }
    }
  }
  .footer-title {
    padding: 1.5rem 0;
    color: #919191;
    font-size: 16px;
  }
  .footer-left {
    .footer-left-desc {
      padding-bottom: 30px;
      color: #ffffff;
    }
  }
  .footer-left-socials {
    display: flex;
    .social-item {
      .link-social {
        font-size: 13px;
        letter-spacing: 1px;
        color: #919191;
        width: 5rem;
        p {
          font-size: 10px;
          color: #fff;
        }
      }
      i {
        color: #fff;
        background-color: #46d4fe;
        border-color: #46d4fe;
        border-radius: 5px;
        text-shadow: convertPxToRem(1px) convertPxToRem(1px) convertPxToRem(1px)
          #17acd8;
        padding: convertPxToRem(10px);
        font-size: 16px;
        margin-right: 10px;
        &:last-child {
          margin: 0;
        }
      }
      .fa-rss {
        background-color: #ffa133;
        border-color: #ffa133;
        text-shadow: 1px 1px 1px #d18021;
      }
    }
  }
  .footer-middle-list {
    .list-item {
      display: inline-block;
      border: convertPxToRem(0.5px) solid #444444;
      padding: convertPxToRem(5px);
      cursor: pointer;
      color: #fff;
      font-weight: 500;
      margin: 1px 0;
    }
  }
  .footer-middle-category-list {
    .list-item {
      color: #fff;
      font-weight: 500;
    }
  }
  .footer-right {
    p {
      color: #dddddd;
    }
  }
  .footer-right-list {
    .list-item {
      span {
        font-weight: 500;
        color: #fff;
      }
    }
  }
  .footer-bottom {
    margin-top: convertPxToRem(50px);
    background-color: #333333;
    color: #eeeeee;
    padding: convertPxToRem(10px) 0;
    a {
      font-size: convertPxToRem(11px);
      font-weight: 600;
      color: #fff;
    }
    .footer-bottom-right-list {
      .list-item {
        display: inline-block;
        padding: 0 0.5rem;
        border-left: 1px solid #444444;
        &:first-child {
          border: none;
        }
      }
    }
  }
}
