.page-footer {
  background-color: map-get($colors, bg-black);
  color: map-get($colors, txt-gray-dark);
  .container {
    justify-content: space-between;
    gap: 4rem;
  }
  ul {
    li {
      padding: 8px 0;
      font-size: convertPxToRem(13px);
    }
  }
  p {
    font-size: convertPxToRem(13px);
    color: #919191;
    letter-spacing: 0;
  }
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    width: calc(100% / 5);
    padding: convertPxToRem(40px) 0;
  }
  .footer-col-2 {
    .footer-col-2-content {
      .image-item {
        display: flex;
        gap: convertPxToRem(10px);
        img {
          max-width: 20%;
          height: 100%;
          border: convertPxToRem(4px) solid #444444;
          color: map-get($colors, txt-gray-dark);
        }
        p {
          font-size: convertPxToRem(11px);
          text-align: left;
          font-weight: 700;
          .new-time {
            font-size: convertPxToRem(10px);
          }
        }
      }
    }
  }
  .footer-title {
    padding: 0.8rem 0;
    color: #919191;
    letter-spacing: convertPxToRem(1px);
    font-size: convertPxToRem(14px);
  }
  .footer-title-category {
    padding-top: 2.5rem;
    padding-bottom: 0.6rem !important;
  }
  .footer-col-1 {
    .footer-col-1-desc {
      color: #dddddd;
    }
    .footer-col-1-socials {
      padding-top: convertPxToRem(40px);
      .social-item {
        .link-social {
          color: map-get($colors, txt-gray-title);
          margin-right: 1rem;
          span {
            font-size: convertPxToRem(9px);
            color: map-get($colors, white);
          }
        }
        i {
          color: map-get($colors, white);
          background-color: #46d4fe;
          border-color: #46d4fe;
          border-radius: convertPxToRem(3px);
          text-shadow: convertPxToRem(1px) convertPxToRem(1px)
            convertPxToRem(1px) #17acd8;
          padding: convertPxToRem(7px);
          font-size: convertPxToRem(16px);
          margin-right: convertPxToRem(6px);
          &:last-child {
            margin-right: 0;
          }
        }
        .fa-rss {
          background-color: #ffa133;
          border-color: #ffa133;
          text-shadow: 1px 1px 1px #d18021;
        }
      }
    }
  }

  .tag-list {
    display: flex;
    flex-wrap: wrap;
    .tag-item {
      border: convertPxToRem(0.5px) solid #444444;
      padding: convertPxToRem(5px);
      cursor: pointer;
      color: #fff;
      font-weight: 500;
      &:hover {
        text-decoration: underline;
        color: #aaaaaa;
        text-shadow: none;
      }
    }
  }
  .category-list {
    .category-item {
      color: map-get($colors, white);
      font-weight: 500;
      font-size: 13px;
      cursor: pointer;
      letter-spacing: 0.5px;
      &:hover {
        text-decoration: underline;
        color: #aaaaaa;
        text-shadow: none;
      }
    }
  }
  .footer-col-4 {
    p {
      color: map-get($colors, txt-gray-dark);
    }
    .footer-col-4-list {
      .list-item {
        span {
          font-weight: 700;
          color: map-get($colors, white);
          letter-spacing: 0.3px;
        }
      }
    }
  }
  .footer-bottom {
    background-color: #333333;
    color: #dddddd;
    padding: convertPxToRem(16px) 0;
    border-top: 0.5px solid #444444;
    a {
      font-size: convertPxToRem(12px);
      font-weight: 100;
      color: #dddddd;
    }
    .sub-menu-list {
      .sub-menu-item {
        display: inline-block;
        padding: 0 0.5rem;
        border-left: 1px solid #444444;
        &:first-child {
          border: none;
        }
      }
    }
  }
}
