.page-header {
  background-color: map-get($colors, bg-white);
  min-height: 88px;
  border: 1px solid map-get($colors, border-cls);
  .header-logo {
    max-width: 192px;
    img {
      padding: 0;
      display: block;
      width: auto;
      height: auto;
      max-height: 100%;
      image-rendering: auto;
      position: relative;
      z-index: 2;
      height: 100%\9;
      height: auto\9;
      color: #88bbc8;
      -webkit-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out;
    }
  }
  .header-list {
    // line-height: 88px;
    .list-item {
      display: inline-block;
      position: relative;
      color: #797979;
      font-size: 13px;
      font-weight: 600;
      line-height: 88px;
      text-align: left;
      &:first-child,
      &:nth-child(6) {
        text-align: center;
        &::before {
          position: absolute;
          bottom: -1px;
          left: 0;
          content: "";
          width: 100%;
          border-bottom: 3px solid map-get($colors, primary);
        }
      }
      a {
        color: #797979;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 600;
        padding: 0px 11.5px;
        text-align: left;
        text-decoration: none;
        line-height: inherit;
        letter-spacing: 0.1px;
      }
    }
    .active {
      color: map-get($colors, txt-black) !important;
    }
  }
}
