.page-header {
  @include pxRem(padding, 10);
  background: map-get($colors, white);
  border-color: #e1e1e1;
  text-align: center;
  padding: 0;
  line-height: convertPxToRem(88px);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 convertPxToRem(50px);
  }
  .header-logo {
    max-width: convertPxToRem(192px);
    max-height: convertPxToRem(88px);
  }
  .menu-list {
    .menu-item {
      display: inline-block;
      padding: 0 convertPxToRem(12.5px);
      line-height: convertPxToRem(100px);
      font-size: convertPxToRem(13px);
      &:first-child,
      &:nth-child(6) {
        text-align: center;
        border-bottom: convertPxToRem(3px) solid #c3512f;
      }
      a {
        font-size: convertPxToRem(15px);
        font-weight: 600;
        letter-spacing: convertPxToRem(0.5px);
        color: #646464;
      }
    }
  }
}
