@keyframes loop-slide {
  from {
    transform: translateX(-100rem) rotate(100deg);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes loop {
  from {
    transform: translateX(100rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes loop-iphone {
  from {
    transform: translateX(-100rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes loop-mac {
  from {
    transform: translateY(100rem);
  }
  to {
    transform: translateX(0);
  }
}
strong {
  color: #c3512f;
  font-weight: bold;
}
.section-contact-us {
  strong {
    font-weight: 400;
  }
}
p {
  color: #666666;
  letter-spacing: 0.5px;
}
p,
h6 {
  font-size: 13px;
}
h2 {
  color: #444444;
}
.hr {
  position: relative;
  width: 30%;
  margin: 35px auto;
  border-top: 1px solid #e1e1e1;
  display: block;
  .hr-style {
    position: absolute;
    top: -1.2px;
    left: 0;
    background-color: #fcfcfc;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    border: 2px solid #e1e1e1;
    border-radius: 50%;
    margin-top: 1px;
  }
}
.fa-small {
  font-size: 11px !important;
  padding: 0 !important;
}
// .avia-shadow {
//   box-shadow: inset 0 1px 3px rgb(0, 0, 0 / 10%);
// }
