@keyframes loop-slide {
  from {
    transform: translateX(-100rem) rotate(100deg);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes loop {
  from {
    transform: translateX(100rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes loop-iphone {
  from {
    transform: translateX(-100rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes loop-mac {
  from {
    transform: translateY(100rem);
  }
  to {
    transform: translateX(0);
  }
}
strong {
  color: #c3512f;
}
p {
  color: #666666;
  letter-spacing: 1px;
}
p,
h6 {
  font-size: convertPxToRem(13px) !important;
}
span {
  position: relative;
  hr {
    width: 30%;
    text-align: center;
    margin: 2.5rem auto;
    border-top: 1px solid #e1e1e1;
  }
  .hr-style {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fcfcfc;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    border: 2px solid #e1e1e1;
    border-radius: 50%;
    margin-top: 1px;
  }
}
