.page-main {
  padding: 0;
  strong {
    color: #c3512f;
  }
}
@include respond-below(large) {
  .container {
    padding-left: convertPxToRem(50px);
    padding-right: convertPxToRem(50px);
  }
  .page-main .content-list {
    gap: convertPxToRem(30px);
  }
  .page-header {
    .menu-list {
      width: 100%;
      .menu-item a {
        font-size: convertPxToRem(14px);
      }
    }
  }
  .feature-list {
    .list-item {
      padding: 0;
    }
  }
  .page-footer {
    .container {
      flex-wrap: wrap;
      justify-content: unset;
    }
    .footer-left,
    .footer-middle-one,
    .footer-middle-two,
    .footer-right {
      min-width: 100%;
    }
  }
  .page-main .section-slider .wrapper .slider-content .mac {
    top: 20%;
    right: 20%;
    width: 40%;
    height: 70%;
  }
  .page-main .section-slider .wrapper .slider-content .mac-pro {
    top: 50%;
    right: 10%;
    width: 25%;
    height: 30%;
  }
  .page-main .section-slider .wrapper .slider-content .iphone {
    top: 50%;
    left: 30%;
    width: 20%;
    height: 30%;
  }
  .page-main .section-slider .wrapper .slider-content .logo-slide {
    width: 30%;
  }
  .page-main .section-slider .wrapper .slider-content .logo-slide-desc {
    width: 30%;
  }
  .page-main .section-slider .wrapper .slider-content .slide-title {
    left: 5%;
  }
  .page-main .section-slider .wrapper .slider-content .slide-desc {
    left: 5%;
  }
  @include respond-below(wide) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .page-header {
      .menu-list {
        display: none;
      }
    }
    .page-main .section-about .about-right .about-item {
      padding-bottom: 0.3rem;
    }
    .section-slider .container .content-list {
      gap: 1rem;
    }
    .section-showcasing .showcasing-title {
      line-height: 2.25rem;
      font-size: 1.5rem;
    }
  }
  @include respond-below(medium) {
    .page-main .content-list {
      flex-direction: column;
      .list-item {
        min-width: 100%;
      }
    }
    .showcasing-card-list {
      flex-wrap: wrap;
    }
    .section-feature {
      .container {
        flex-wrap: wrap;
        .feature-img {
          width: 100%;
          img {
            width: 100%;
          }
        }
        .feature-content {
          width: 100%;
        }
      }
    }
    .section-about {
      .container {
        flex-wrap: wrap;
      }
    }
    .section-mobile {
      .container {
        flex-wrap: wrap;
      }
    }
    .page-main .section-about-us .about-us-content .about-us-item {
      width: 100%;
      margin: 20px;
    }
    .page-main .section-contact-us .contact-us-title-desc {
      padding-bottom: 2rem;
    }
    .contact-us-content {
      flex-wrap: wrap;
    }
    .page-main .section-contact-us .contact-us-content .contact-us-box {
      margin: 2rem 0;
    }
    .page-main .section-about .about-right .about-item {
      padding-bottom: 1rem;
    }
  }
  @include respond-below(small) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .page-main .section-showcasing .showcasing-title {
      line-height: 2.25rem;
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
    }
    .about-us-title {
      font-size: 1.5rem;
    }
    .page-main .content-list .list-item .item-title {
      font-size: 1rem;
    }

    .page-main .section-about .about-right .about-item {
      padding: 0;
    }
    .page-main .section-slider .wrapper .slider-content .logo-slide {
      top: 25%;
      width: 90%;
      z-index: 2;
    }
    .page-main .section-slider .wrapper .slider-content .logo-slide-desc {
      top: 50%;
      left: 3%;
      width: 90%;
      z-index: 2;
    }
    .mac,
    .iphone,
    .mac-pro {
      opacity: 0.5;
    }
    .page-main .section-slider .wrapper .slider-content .iphone-hand {
      left: 0;
    }
    .section-about-us .about-us-content .about-us-item {
      align-items: center;
      gap: 0rem;
    }
    .section-about-us .about-us-content {
      gap: 0 !important;
    }
  }
}
